{{!< default}}
{{#contentFor 'title'}}Background{{/contentFor}}
{{#contentFor 'sidenav'}}
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#bgColors" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Background Colors</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#lightBgColors" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Light Background Colors</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#activeBgColors" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Active Background Colors</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#hoverBgColors" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Hover Background Colors</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#hoverLightBgColors" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Hover Light Background Colors</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#opacity" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Background Opacity</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#hoverOpacity" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Hover Background Opacity</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#activeOpacity" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Active Background Opacity</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#bgImageClasses" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Background Image Classes</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#bgImageSizeClasses" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Background Image Size Classes</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="bgColors" data-kt-scroll-offset="100">
    <a href="#bgColors"></a>Background Colors
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Easily set the background of an element to any contextual class as shown below.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <p class="bg-light text-inverse-light p-3 fw-semibold fw-6">.bg-light</p>
      <p class="bg-primary text-inverse-primary p-3 fw-semibold fw-6">.bg-primary</p>
      <p class="bg-secondary text-inverse-secondary p-3 fw-semibold fw-6">.bg-secondary</p>
      <p class="bg-success text-inverse-success p-3 fw-semibold fw-6">.bg-success</p>
      <p class="bg-info text-inverse-info p-3 fw-semibold fw-6">.bg-info</p>
      <p class="bg-warning text-inverse-warning p-3 fw-semibold fw-6">.bg-warning</p>
      <p class="bg-danger text-inverse-danger p-3 fw-semibold fw-6">.bg-danger</p>
      <p class="bg-dark text-inverse-dark p-3 fw-semibold fw-6">.bg-dark</p>
      <p class="bg-white text-inverse-white p-3 fw-semibold fw-6">.bg-white</p>
      <p class="bg-body text-inverse-body p-3 fw-semibold fw-6">.bg-body</p>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;bg-light&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-secondary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-success&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-info&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-warning&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-danger&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-dark&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-white&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-body&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="lightBgColors" data-kt-scroll-offset="100">
    <a href="#lightBgColors"></a>Light Background Colors
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Set a bright background color using the <code>.bg-light-{color}</code> class:
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <p class="bg-light-primary text-primary p-3 fw-semibold fw-6">.bg-light-primary</p>
      <p class="bg-light-secondary text-secondary p-3 fw-semibold fw-6">.bg-light-secondary</p>
      <p class="bg-light-success text-success p-3 fw-semibold fw-6">.bg-light-success</p>
      <p class="bg-light-info text-info p-3 fw-semibold fw-6">.bg-light-info</p>
      <p class="bg-light-warning text-warning p-3 fw-semibold fw-6">.bg-light-warning</p>
      <p class="bg-light-danger text-danger p-3 fw-semibold fw-6">.bg-light-danger</p>
      <p class="bg-light-dark text-dark p-3 fw-semibold fw-6">.bg-light-dark</p>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;bg-light-primary text-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-light-secondary text-secondary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-light-success text-success&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-light-info text-info&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-light-warning text-warning&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-light-danger text-danger&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-light-dark text-dark&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="activeBgColors" data-kt-scroll-offset="100">
    <a href="#activeBgColors"></a>Active Background Colors
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Use <code>.bg-active-{color}</code> class to toggle an element's active background color state with <code>.active</code> class.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <p class="bg-active-light text-active-inverse-light active p-3 fw-semibold fw-6">.bg-active-light</p>
      <p class="bg-active-primary text-active-inverse-primary active p-3 fw-semibold fw-6">.bg-active-primary</p>
      <p class="bg-active-secondary text-active-inverse-secondary active p-3 fw-semibold fw-6">.bg-active-secondary</p>
      <p class="bg-active-success text-active-inverse-success active p-3 fw-semibold fw-6">.bg-active-success</p>
      <p class="bg-active-info text-active-inverse-info active p-3 fw-semibold fw-6">.bg-active-info</p>
      <p class="bg-active-warning text-active-inverse-warning active p-3 fw-semibold fw-6">.bg-active-warning</p>
      <p class="bg-active-danger text-active-inverse-danger active p-3 fw-semibold fw-6">.bg-active-danger</p>
      <p class="bg-active-dark text-active-inverse-dark active p-3 fw-semibold fw-6">.bg-active-dark</p>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;bg-active-light text-active-inverse-light active&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-active-primary text-active-inverse-primary active&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-active-secondary text-active-inverse-secondary active&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-active-success text-active-inverse-success active&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-active-info text-active-inverse-info active&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-active-warning text-active-inverse-warning active&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-active-danger text-active-inverse-danger active&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-active-dark text-active-inverse-dark active&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="hoverBgColors" data-kt-scroll-offset="100">
    <a href="#hoverBgColors"></a>Hover Background Colors
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Use <code>.bg-hover-{color}</code> class to set an element's hover background color.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <p class="text-gray-600 bg-hover-light text-hover-inverse-light p-3 fw-semibold fw-6">.bg-hover-light</p>
      <p class="text-gray-600 bg-hover-primary text-hover-inverse-primary p-3 fw-semibold fw-6">.bg-hover-primary</p>
      <p class="text-gray-600 bg-hover-secondary text-hover-inverse-secondary p-3 fw-semibold fw-6">.bg-hover-secondary</p>
      <p class="text-gray-600 bg-hover-success text-hover-inverse-success p-3 fw-semibold fw-6">.bg-hover-success</p>
      <p class="text-gray-600 bg-hover-info text-hover-inverse-info p-3 fw-semibold fw-6">.bg-hover-info</p>
      <p class="text-gray-600 bg-hover-warning text-hover-inverse-warning p-3 fw-semibold fw-6">.bg-hover-warning</p>
      <p class="text-gray-600 bg-hover-danger text-hover-inverse-danger p-3 fw-semibold fw-6">.bg-hover-danger</p>
      <p class="text-gray-600 bg-hover-dark text-hover-inverse-dark p-3 fw-semibold fw-6">.bg-hover-dark</p>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;bg-hover-light text-hover-inverse-light&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-primary text-hover-inverse-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-secondary text-hover-inverse-secondary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-success text-hover-inverse-success&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-info text-hover-inverse-info&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-warning text-hover-inverse-warning&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-danger text-hover-inverse-danger&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-dark text-hover-inverse-dark&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="hoverLightBgColors" data-kt-scroll-offset="100">
    <a href="#hoverLightBgColors"></a>Hover Light Background Colors
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Use <code>.bg-hover-light-{color}</code> class to set an element's hover light background color.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <p class="text-gray-600 bg-hover-light-primary text-hover-primary p-3 fw-semibold fw-6">.bg-hover-light-primary</p>
      <p class="text-gray-600 bg-hover-light-secondary text-hover-secondary p-3 fw-semibold fw-6">.bg-hover-light-secondary</p>
      <p class="text-gray-600 bg-hover-light-success text-hover-success p-3 fw-semibold fw-6">.bg-hover-light-success</p>
      <p class="text-gray-600 bg-hover-light-info text-hover-info p-3 fw-semibold fw-6">.bg-hover-light-info</p>
      <p class="text-gray-600 bg-hover-light-warning text-hover-warning p-3 fw-semibold fw-6">.bg-hover-light-warning</p>
      <p class="text-gray-600 bg-hover-light-danger text-hover-danger p-3 fw-semibold fw-6">.bg-hover-light-danger</p>
      <p class="text-gray-600 bg-hover-light-dark text-hover-dark p-3 fw-semibold fw-6">.bg-hover-light-dark</p>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;bg-hover-light-primary text-hover-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-light-secondary text-hover-secondary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-light-success text-hover-success&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-light-info text-hover-info&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-light-warning text-hover-warning&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-light-danger text-hover-danger&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-light-dark text-hover-dark&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="opacity" data-kt-scroll-offset="100">
    <a href="#opacity"></a>Background Opacity
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Use <code>.bg-opacity-{0, 5, 10, 15, 20, 25, 50, 75, 100}</code> class with <code>.bg-{color}</code> 
    or <code>.bg-light-{color}</code> to set an element's background color with opacity.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block d-flex flex-wrap">
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-opacity-0 bg-primary flex-grow-1"></div>
        <div class="fw-semibold py-2 w-150px">bg-opacity-0</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-opacity-5 bg-primary flex-grow-1"></div>
        <div class="fw-semibold py-2 w-150px">bg-opacity-5</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-opacity-10 bg-primary flex-grow-1"></div>
        <div class="fw-semibold py-2 w-150px">bg-opacity-10</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-opacity-15 bg-primary flex-grow-1"></div>
        <div class="fw-semibold py-2 w-150px">bg-opacity-15</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-opacity-20 bg-primary flex-grow-1"></div>
        <div class="fw-semibold py-2 w-150px">bg-opacity-20</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-opacity-25 bg-primary flex-grow-1"></div>
        <div class="fw-semibold py-2 w-150px">bg-opacity-25</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-opacity-50 bg-primary flex-grow-1"></div>
        <div class="fw-semibold py-2 w-150px">bg-opacity-50</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-opacity-75 bg-primary flex-grow-1"></div>
        <div class="fw-semibold py-2 w-150px">bg-opacity-75</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-opacity-100 bg-primary flex-grow-1"></div>
        <div class="fw-semibold py-2 w-150px">bg-opacity-100</div>
      </div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;bg-opacity-0 bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-opacity-5 bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-opacity-10 bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-opacity-15 bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-opacity-20 bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-opacity-25 bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-opacity-50 bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-opacity-75 bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-opacity-100 bg-primary&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="hoverOpacity" data-kt-scroll-offset="100">
    <a href="#hoverOpacity"></a>Hover Background Opacity
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Use <code>.bg-hover-opacity-{0, 5, 10, 15, 20, 25, 50, 75, 100}</code> class with <code>.bg-{color}</code> 
    or <code>.bg-light-{color}</code> to set an element's background color with opacity on hover.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block d-flex flex-wrap">
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-hover-opacity-0 bg-primary flex-grow-1"></div>
        <div class="fw-semibold py-2 w-175px">bg-hover-opacity-0</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-hover-opacity-5 bg-primary flex-grow-1"></div>
        <div class="fw-semibold py-2 w-175px">bg-hover-opacity-5</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-hover-opacity-10 bg-primary flex-grow-1"></div>
        <div class="fw-semibold py-2 w-175px">bg-hover-opacity-10</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-hover-opacity-15 bg-primary flex-grow-1"></div>
        <div class="fw-semibold py-2 w-175px">bg-hover-opacity-15</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-hover-opacity-20 bg-primary flex-grow-1"></div>
        <div class="fw-semibold py-2 w-175px">bg-hover-opacity-20</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-hover-opacity-25 bg-primary flex-grow-1"></div>
        <div class="fw-semibold py-2 w-175px">bg-hover-opacity-25</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-hover-opacity-50 bg-primary flex-grow-1"></div>
        <div class="fw-semibold py-2 w-175px">bg-hover-opacity-50</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-hover-opacity-75 bg-primary flex-grow-1"></div>
        <div class="fw-semibold py-2 w-175px">bg-hover-opacity-75</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-hover-opacity-100 bg-primary flex-grow-1"></div>
        <div class="fw-semibold py-2 w-175px">bg-hover-opacity-100</div>
      </div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;bg-hover-opacity-0 bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-opacity-5 bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-opacity-10 bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-opacity-15 bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-opacity-20 bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-opacity-25 bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-opacity-50 bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-opacity-75 bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-hover-opacity-100 bg-primary&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="activeOpacity" data-kt-scroll-offset="100">
    <a href="#activeOpacity"></a>Active Background Opacity
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Use <code>.bg-active-opacity-{0, 5, 10, 15, 20, 25, 50, 75, 100}</code> class with <code>.bg-{color}</code> 
    or <code>.bg-light-{color}</code> to set an element's background color with opacity on active state.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block d-flex flex-wrap">
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-active-opacity-0 bg-primary active flex-grow-1"></div>
        <div class="fw-semibold py-2 w-175px">bg-active-opacity-0</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-active-opacity-5 bg-primary active flex-grow-1"></div>
        <div class="fw-semibold py-2 w-175px">bg-active-opacity-5</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-active-opacity-10 bg-primary active flex-grow-1"></div>
        <div class="fw-semibold py-2 w-175px">bg-active-opacity-10</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-active-opacity-15 bg-primary active flex-grow-1"></div>
        <div class="fw-semibold py-2 w-175px">bg-active-opacity-15</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-active-opacity-20 bg-primary active flex-grow-1"></div>
        <div class="fw-semibold py-2 w-175px">bg-active-opacity-20</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-active-opacity-25 bg-primary active flex-grow-1"></div>
        <div class="fw-semibold py-2 w-175px">bg-active-opacity-25</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-active-opacity-50 bg-primary active flex-grow-1"></div>
        <div class="fw-semibold py-2 w-175px">bg-active-opacity-50</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-active-opacity-75 bg-primary active flex-grow-1"></div>
        <div class="fw-semibold py-2 w-175px">bg-active-opacity-75</div>
      </div>
      <div class="d-flex flex-column me-5 mb-5">
        <div class="w-90px h-90px bg-active-opacity-100 bg-primary active flex-grow-1"></div>
        <div class="fw-semibold py-2 w-175px">bg-active-opacity-100</div>
      </div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;bg-active-opacity-0 bg-primary active&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-active-opacity-5 bg-primary active&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-active-opacity-10 bg-primary active&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-active-opacity-15 bg-primary active&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-active-opacity-20 bg-primary active&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-active-opacity-25 bg-primary active&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-active-opacity-50 bg-primary active&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-active-opacity-75 bg-primary active&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;bg-active-opacity-100 bg-primary active&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="bgImageClasses" data-kt-scroll-offset="100">
    <a href="#bgImageClasses"></a>Background Image Classes
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Assign background image style values to an element with shorthand classes with the format <code>bgi-{property}</code>.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    Where <code>property</code> is one of:
    <ul class="pt-3">
      <li class="py-2"><code>no-repeat</code> to set <code>background-repeat: no-repeat</code></li>
      <li class="py-2"><code>position-y-top</code> to set <code>background-position-y: top</code></li>
      <li class="py-2"><code>position-y-bottom</code> to set <code>background-position-y: bottom</code></li>
      <li class="py-2"><code>position-y-center</code> to set <code>background-position-y: center</code></li>
      <li class="py-2"><code>position-x-start</code> to set <code>background-position-x: left</code></li>
      <li class="py-2"><code>position-x-end</code> to set <code>background-position-x: right</code></li>
      <li class="py-2"><code>position-x-center</code> to set <code>background-position-x: center</code></li>
      <li class="py-2"><code>position-bottom</code> to set <code>background-position: 0 bottom</code></li>
      <li class="py-2"><code>position-center</code> to set <code>background-position: center</code></li>
    </ul>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div style=&quot;background-image: url(image.png)&quot; class=&quot;bgi-no-repeat bgi-position-center&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="bgImageSizeClasses" data-kt-scroll-offset="100">
    <a href="#bgImageSizeClasses"></a>Background Image Size Classes
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Use responsive-friendly background image size style values for an element with shorthand classes with the format <code>.bgi-size-{breakpoint}-{property}</code>.
    The classes are named using the format <code>.bgi-size-{property}</code> for <code>xs</code> and <code>.bgi-size-{breakpoint}-{property}</code> 
    for <code>sm</code>, <code>md</code>, <code>lg</code>, <code>xl</code>, and <code>xxl</code>.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    Where <code>property</code> is one of:
    <ul class="pt-3">
      <li class="py-2"><code>auto</code> to set <code>background-size: auto</code></li>
      <li class="py-2"><code>cover</code> to set <code>background-size: cover</code></li>
      <li class="py-2"><code>contain</code> to set <code>background-size: contain</code></li>
    </ul>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div style=&quot;background-image: url(image.png)&quot; class=&quot;bgi-size-contain bgi-size-lg-auto bgi-no-repeat bgi-position-center&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->