{{!< default}}
{{#contentFor 'title'}}Bootstrap Icons{{/contentFor}}
{{#contentFor 'sidenav'}}
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#overview" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Overview</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#usage" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Usage</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#colors" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Colors</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#sizes" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Sizes</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="overview" data-kt-scroll-offset="100">
    <a href="#overview"></a>Overview
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    <a href="https://icons.getbootstrap.com/" target="_blank">Bootstrap Icons</a>&nbsp; is a free, high quality, open source icon library with nearly 1,200 icons. 
    Include them anyway you like SVGs, SVG sprite, or web fonts.
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="usage" data-kt-scroll-offset="100">
    <a href="#usage"></a>Usage
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Use Bootstrap Icons with a spesific class as explained in the <a href="https://icons.getbootstrap.com/icons/alarm-fill/" target="_blank">Icons Preview Page</a>.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block d-flex flex-wrap">
      <i class="bi bi-bookmarks-fill fs-2x me-15"></i>
      <i class="bi bi-calendar-check fs-2x me-15"></i>
      <i class="bi bi-check2-square fs-2x me-15"></i>
      <i class="bi bi-diagram-3 fs-2x me-15"></i>
      <i class="bi bi-gear fs-2x me-15"></i>
      <i class="bi bi-circle-square fs-2x me-15"></i>
      <i class="bi bi-graph-down fs-2x me-15"></i>
      <i class="bi bi-vector-pen fs-2x me-15"></i>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;i class=&quot;bi bi-bookmarks-fill fs-2x&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-calendar-check fs-2x&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-check2-square fs-2x&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-diagram-3 fs-2x&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-gear fs-2x &quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-circle-square fs-2x&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-graph-down fs-2x&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-vector-pen fs-2x&quot;&gt;&lt;/i&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="colors" data-kt-scroll-offset="100">
    <a href="#colors"></a>Colors
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Inline icons can be colored using the <code>.text-{color}</code> class.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block d-flex flex-wrap">
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-white bg-dark"></i>
        <div class="fw-semibold py-2">white</div>
      </div>
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-primary "></i>
        <div class="fw-semibold py-2">primary</div>
      </div>
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-secondary "></i>
        <div class="fw-semibold py-2">secondary</div>
      </div>
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-light "></i>
        <div class="fw-semibold py-2">light</div>
      </div>
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-success "></i>
        <div class="fw-semibold py-2">success</div>
      </div>
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-info "></i>
        <div class="fw-semibold py-2">info</div>
      </div>
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-warning "></i>
        <div class="fw-semibold py-2">warning</div>
      </div>
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-danger "></i>
        <div class="fw-semibold py-2">danger</div>
      </div>
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-dark "></i>
        <div class="fw-semibold py-2">dark</div>
      </div>
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-muted "></i>
        <div class="fw-semibold py-2">muted</div>
      </div>
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-gray-100 "></i>
        <div class="fw-semibold py-2">gray-100</div>
      </div>
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-gray-200 "></i>
        <div class="fw-semibold py-2">gray-200</div>
      </div>
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-gray-300 "></i>
        <div class="fw-semibold py-2">gray-300</div>
      </div>
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-gray-400 "></i>
        <div class="fw-semibold py-2">gray-400</div>
      </div>
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-gray-500 "></i>
        <div class="fw-semibold py-2">gray-500</div>
      </div>
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-gray-600 "></i>
        <div class="fw-semibold py-2">gray-600</div>
      </div>
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-gray-700 "></i>
        <div class="fw-semibold py-2">gray-700</div>
      </div>
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-gray-800 "></i>
        <div class="fw-semibold py-2">gray-800</div>
      </div>
      <div class="d-flex flex-column flex-center w-150px me-10 mb-5">
        <i class="bi bi-droplet-half fs-2x text-gray-900 "></i>
        <div class="fw-semibold py-2">gray-900</div>
      </div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;i class=&quot;bi bi-droplet-half text-white&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half text-primary&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half text-secondary&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half text-light&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half text-success&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half text-info&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half text-warning&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half text-danger&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half text-dark&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half text-muted&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half text-gray-100&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half text-gray-200&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half text-gray-300&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half text-gray-400&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half text-gray-500&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half text-gray-600&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half text-gray-700&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half text-gray-800&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half text-gray-900&quot;&gt;&lt;/i&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="sizes" data-kt-scroll-offset="100">
    <a href="#sizes"></a>Sizes
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    The size of font icons can be specified in the <code>.fs-{size}</code> class.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    Where <code>size</code> is one of:
    <ul class="pt-3">
      <li class="py-2"><code>1</code> - sets icon size that equals to <code>&lt;h1&gt; </code> font size</li>
      <li class="py-2"><code>2</code> - sets icon size that equals to <code>&lt;h2&gt; </code> font size</li>
      <li class="py-2"><code>3</code> - sets icon size that equals to <code>&lt;h3&gt; </code> font size</li>
      <li class="py-2"><code>4</code> - sets icon size that equals to <code>&lt;h4&gt; </code> font size</li>
      <li class="py-2"><code>5</code> - sets icon size that equals to <code>&lt;h5&gt; </code> font size</li>
      <li class="py-2"><code>6</code> - sets icon size that equals to <code>&lt;h6&gt; </code> font size</li>
      <li class="py-2"><code>7</code> - sets icon size that equals to <code>&lt;h7&gt; </code> font size</li>
      <li class="py-2"><code>7</code> - sets icon size that equals to <code>0.95 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>8</code> - sets icon size that equals to <code>0.85 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>9</code> - sets icon size that equals to <code>0.75 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>10</code> - sets icon size that equals to <code>0.5 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>base</code> - sets icon size that equals to <code>$font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>fluid</code> - sets icon size that equals to <code>100%</code></li>
      <li class="py-2"><code>2x</code> - sets icon size that equals to <code>2 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>2qx</code> - sets icon size that equals to <code>2.25 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>2hx</code> - sets icon size that equals to <code>2.5 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>2tx</code> - sets icon size that equals to <code>2.75 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>3x</code> - sets icon size that equals to <code>3 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>3qx</code> - sets icon size that equals to <code>3.25 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>3hx</code> - sets icon size that equals to <code>3.5 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>3tx</code> - sets icon size that equals to <code>3.75 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>4x</code> - sets icon size that equals to <code>4 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>4qx</code> - sets icon size that equals to <code>4.25 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>4hx</code> - sets icon size that equals to <code>4.5 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>4tx</code> - sets icon size that equals to <code>4.75 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>5x</code> - sets icon size that equals to <code>5 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>5qx</code> - sets icon size that equals to <code>5.25 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>5hx</code> - sets icon size that equals to <code>5.5 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
      <li class="py-2"><code>5tx</code> - sets icon size that equals to <code>5.75 of $font-size-base</code> where <code>$font-size-base: 1rem</code></li>
    </ul>
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block d-flex flex-wrap">
      <div class="d-flex flex-column h-100px w-100px me-10 mb-5">
        <div class="d-flex flex-center flex-grow-1">
          <i class="bi bi-droplet-half fs-5x"></i>
        </div>
        <div class="fw-semibold py-2 text-center">.fs-5x</div>
      </div>
      <div class="d-flex flex-column h-100px w-100px me-10 mb-5">
        <div class="d-flex flex-center flex-grow-1">
          <i class="bi bi-droplet-half fs-4x"></i>
        </div>
        <div class="fw-semibold py-2 text-center">.fs-4x</div>
      </div>
      <div class="d-flex flex-column h-100px w-100px me-10 mb-5">
        <div class="d-flex flex-center flex-grow-1">
          <i class="bi bi-droplet-half fs-3x"></i>
        </div>
        <div class="fw-semibold py-2 text-center">.fs-3x</div>
      </div>
      <div class="d-flex flex-column h-100px w-100px me-10 mb-5">
        <div class="d-flex flex-center flex-grow-1">
          <i class="bi bi-droplet-half fs-2tx"></i>
        </div>
        <div class="fw-semibold py-2 text-center">.fs-2tx</div>
      </div>
      <div class="d-flex flex-column h-100px w-100px me-10 mb-5">
        <div class="d-flex flex-center flex-grow-1">
          <i class="bi bi-droplet-half fs-2hx"></i>
        </div>
        <div class="fw-semibold py-2 text-center">.fs-2hx</div>
      </div>
      <div class="d-flex flex-column h-100px w-100px me-10 mb-5">
        <div class="d-flex flex-center flex-grow-1">
          <i class="bi bi-droplet-half fs-2qx"></i>
        </div>
        <div class="fw-semibold py-2 text-center">.fs-2qx</div>
      </div>
      <div class="d-flex flex-column h-100px w-100px me-10 mb-5">
        <div class="d-flex flex-center flex-grow-1">
          <i class="bi bi-droplet-half fs-2x"></i>
        </div>
        <div class="fw-semibold py-2 text-center">.fs-2x</div>
      </div>
      <div class="d-flex flex-column h-100px w-100px me-10 mb-5">
        <div class="d-flex flex-center flex-grow-1">
          <i class="bi bi-droplet-half fs-1"></i>
        </div>
        <div class="fw-semibold py-2 text-center">.fs-1</div>
      </div>
      <div class="d-flex flex-column h-100px w-100px me-10 mb-5">
        <div class="d-flex flex-center flex-grow-1">
          <i class="bi bi-droplet-half fs-2"></i>
        </div>
        <div class="fw-semibold py-2 text-center">.fs-2</div>
      </div>
      <div class="d-flex flex-column h-100px w-100px me-10 mb-5">
        <div class="d-flex flex-center flex-grow-1">
          <i class="bi bi-droplet-half fs-3"></i>
        </div>
        <div class="fw-semibold py-2 text-center">.fs-3</div>
      </div>
      <div class="d-flex flex-column h-100px w-100px me-10 mb-5">
        <div class="d-flex flex-center flex-grow-1">
          <i class="bi bi-droplet-half fs-5"></i>
        </div>
        <div class="fw-semibold py-2 text-center">.fs-5</div>
      </div>
      <div class="d-flex flex-column h-100px w-100px me-10 mb-5">
        <div class="d-flex flex-center flex-grow-1">
          <i class="bi bi-droplet-half fs-6"></i>
        </div>
        <div class="fw-semibold py-2 text-center">.fs-6</div>
      </div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;i class=&quot;bi bi-droplet-half fs-5x&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half fs-4x&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half fs-3x&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half fs-2tx&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half fs-2hx&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half fs-2qx&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half fs-2x&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half fs-1&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half fs-2&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half fs-3&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half fs-5&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;bi bi-droplet-half fs-6&quot;&gt;&lt;/i&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->