<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<!--begin::Head-->
<head>
  <title>Clipboard - Metronic Extension</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--begin::Fonts-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
  <!--end::Fonts-->
  <!--begin::Vendor Stylesheets(used for this page only)-->
  <link href="build/theme/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
  <!--end::Vendor Stylesheets-->
  <!--begin::Global Stylesheets Bundle(used by all pages)-->
  <link href="build/theme/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
  <link href="build/theme/css/style.bundle.css" rel="stylesheet" type="text/css" />
  <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="app-blank">
  <!--begin::Container-->
  <div class="container pt-5">
    <!--begin::Card-->
    <div class="card flex-row-fluid mb-2">
      <!--begin::Card Body-->
      <div class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15 text-gray-700">
        <!--begin::Section-->
        <div class="pb-10">
          <!--begin::Heading-->
          <div class="d-flex flex-stack">
            <!--begin::Title-->
            <h1 class="fw-bold mb-5">Clipboard</h1>
            <!--end::Title-->
            <!--begin::Actions-->
            <a href="./" class="btn btn-sm fw-bold btn-primary">Back to Index</a>
            <!--end::Actions-->
          </div>
          <!--end::Heading-->
          <!--begin::Block-->
          <div class="py-5">
            Clipboard is a modern approach to copy text to clipboard. No Flash. No frameworks.<br>
            Simply specify the <code>data-clipboard-target</code> attribute on the copy button to copy the specified element value to the clipboard.
          </div>
          <!--end::Block-->
          <!--begin::Block-->
          <div class="py-5">
            <!--begin::Row-->
            <div class="d-flex align-items-center flex-wrap">
              <!--begin::Input-->
              <div id="clipboard" class="me-5">This is a sample static text string to copy!</div>
              <!--end::Input-->
              <!--begin::Button-->
              <button id="coppyButton" class="btn btn-icon btn-sm btn-light" data-clipboard-target="#clipboard">
                <i class="ki-duotone ki-copy fs-2 text-muted"></i>
              </button>
              <!--end::Button-->
            </div>
            <!--end::Row-->
          </div>
          <!--end::Block-->
          <!--begin::Code-->
          <div class="py-5">
            <!--begin::Highlight-->
            <div class="highlight">
              <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
              <ul class="nav nav-pills" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#passwordVisibilityHtmlTabPane" role="tab">HTML</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#passwordVisibilityJsTabPane" role="tab">JAVASCRIPT</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="passwordVisibilityHtmlTabPane" role="tabpanel">
                  <div class="highlight-code">
                    <pre class="language-html" style="max-height:400px">
                      <code class="language-html">&lt;!--begin::Row--&gt;
&lt;div class=&quot;d-flex align-items-center flex-wrap&quot;&gt;
  &lt;!--begin::Input--&gt;
  &lt;div id=&quot;clipboard&quot; class=&quot;me-5&quot;&gt;This is a sample static text string to copy!&lt;/div&gt;
  &lt;!--end::Input--&gt;
  &lt;!--begin::Button--&gt;
  &lt;button id=&quot;coppyButton&quot; class=&quot;btn btn-icon btn-sm btn-light&quot; data-clipboard-target=&quot;#clipboard&quot;&gt;
    &lt;i class=&quot;ki-duotone ki-copy fs-2 text-muted&quot;&gt;&lt;/i&gt;
  &lt;/button&gt;
  &lt;!--end::Button--&gt;
&lt;/div&gt;
&lt;!--end::Row--&gt;</code>
                    </pre>
                  </div>
                </div>
                <div class="tab-pane fade" id="passwordVisibilityJsTabPane" role="tabpanel">
                  <div class="highlight-code">
                    <pre class="language-javascript">
                      <code class="language-javascript">import {initClipboard} from &#039;metronic-extension&#039;;

// Copy when the button is clicked.
initClipboard(document.querySelector(&#039;#coppyButton&#039;));

// It is also possible to specify a context element and apply the copy function to all button elements with the data-clipboard-target attribute under the context element at once.
initClipboard(document.body);
initClipboard(document.querySelector(&#039;#kt_body&#039;));</code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            <!--end::Highlight-->
          </div>
          <!--end::Code-->
        </div>
        <!--end::Section-->
      </div>
      <!--end::Card Body-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Container-->
  <!--begin::Javascript-->
  <!--begin::Global Javascript Bundle(used by all pages)-->
  <script src="build/theme/plugins/global/plugins.bundle.js"></script>
  <script src="build/theme/js/scripts.bundle.js"></script>
  <!--end::Global Javascript Bundle-->
  <!--begin::Vendors Javascript(used for this page only)-->
  <script src="build/theme/plugins/custom/prismjs/prismjs.bundle.js"></script>
  <!--end::Vendors Javascript-->
  <!--begin::Custom Javascript(used by this page)-->
  <script src="build/clipboard.js"></script>
  <!--end::Custom Javascript-->
  <!--end::Javascript-->
</body>
<!--end::Body-->
</html>