{{!< default}}
{{#contentFor 'title'}}Clipboard{{/contentFor}}
{{#contentFor 'script'}}<script src="build/clipboard.js"></script>{{/contentFor}}
{{#contentFor 'sidenav'}}
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#overview" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Overview</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#reference" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Reference</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#basic" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Basic</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#batch-initialization" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Batch initialization</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="overview" data-kt-scroll-offset="100">
    <a href="#overview"></a>Overview
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Initializes a component that copies the text of the element corresponding to the selector specified in the <code>data-clipboard-target</code> attribute to the clipboard.<br>
    The actual process for copying text to the clipboard is handled by <a href="https://clipboardjs.com/" target="_blank">clipboard.js</a>.
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="py-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="reference" data-kt-scroll-offset="100">
    <a href="#reference"></a>Reference
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Heading-->
    <h5 class="py-2 mb-0">Parameters:</h5>
    <!--end::Heading-->
    <!--begin::Parameters-->
    <ul>
      <li class="py-2"><code>context: string|HTMLElement|JQuery</code>
        <!--begin::Block-->
        <div class="pt-3">
          A button element with a &quot;data-clipboard-target&quot; attribute that initiates a clipboard copy, or a context element or selector with such an element.
        </div>
        <!--end::Block-->        
      </li>
      <li class="py-2"><code>delay: number</code>
        <!--begin::Block-->
        <div class="pt-3">
          Time (in milliseconds) to switch from the copy complete icon to the pre-copy icon. Default is 3000.
        </div>
        <!--end::Block-->
      </li>
    </ul>
    <!--end::Parameters-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="py-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="basic" data-kt-scroll-offset="100">
    <a href="#basic"></a>Basic
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">Set the <code>data-clipboard-target</code> attribute of the action button to the element ID you wish to copy and initialize it with the clipboard function.</div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="my-5">
    <div class="demonstration-block">
      <!--begin::Input group-->
      <div class="input-group">
        <!--begin::Input-->
        <input id="target" type="text" class="form-control" placeholder="name@example.com" value="name@example.com">
        <!--end::Input-->
        <!--begin::Button-->
        <button id="button" class="btn btn-icon btn-light" data-clipboard-target="#target">
          <i class="ki-duotone ki-copy fs-2"></i>
        </button>
        <!--end::Button-->
      </div>
      <!--end::Input group-->
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="py-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#basic-html-tab" role="tab">HTML</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#basic-js-tab" role="tab">JAVASCRIPT</a></li>
      </ul>
      <!--begin::Tab content-->
      <div class="tab-content">
        <!--begin::Tab panel-->
        <div class="tab-pane fade show active" id="basic-html-tab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-html">
              <code class="language-html">&lt;!--begin::Input group--&gt;
&lt;div class=&quot;input-group&quot;&gt;
  &lt;!--begin::Input--&gt;
  &lt;input id=&quot;target&quot; type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;name@example.com&quot; value=&quot;name@example.com&quot; /&gt;
  &lt;!--end::Input--&gt;
  &lt;!--begin::Button--&gt;
  &lt;button id=&quot;button&quot; class=&quot;btn btn-icon btn-light&quot; data-clipboard-target=&quot;#target&quot;&gt;
    &lt;i class=&quot;ki-duotone ki-copy fs-2&quot;&gt;&lt;/i&gt;
  &lt;/button&gt;
  &lt;!--end::Button--&gt;
&lt;/div&gt;
&lt;!--end::Input group--&gt;</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
        <!--begin::Tab panel-->
        <div class="tab-pane fade" id="basic-js-tab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-javascript">
              <code class="language-javascript">import {components} from &#039;metronic-extension&#039;;

// Initialize the component and set up event listeners.
components.initClipboard(document.getElementById(&#039;button&#039;));</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
      </div>
      <!--begin::Tab content-->
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="py-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="batch-initialization" data-kt-scroll-offset="100">
    <a href="#batch-initialization"></a>Batch initialization
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">
    The clipboards of multiple action buttons can be initialized at once.<br>
    In that case, initialize the parent element of the action button that has the <code>data-clipboard-target</code> attribute with the clipboard function.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="my-5">
    <div class="demonstration-block">
      <!--begin::Wrapper-->
      <div id="wrapper">
        <!--begin:: Input group-->
        <div class="input-group mb-10">
          <!--begin::Input-->
          <input id="name" type="text" class="form-control" placeholder="Full name" value="Tiger Nixon">
          <!--end::Input-->
          <!--begin::Button-->
          <button id="button" class="btn btn-icon btn-light" data-clipboard-target="#name">
            <i class="ki-duotone ki-copy fs-2"></i>
          </button>
          <!--end::Button-->
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="input-group">
          <!--begin::Input-->
          <input id="address" type="text" class="form-control" placeholder="Address" value="169 Pinnick Street, Waye, New Jersey, 07477">
          <!--end::Input-->
          <!--begin::Button-->
          <button id="button" class="btn btn-icon btn-light" data-clipboard-target="#address">
            <i class="ki-duotone ki-copy fs-2"></i>
          </button>
          <!--end::Button-->
        </div>
        <!--end::Input group-->
      </div>
      <!--end::Wrapper-->
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="py-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#batch-initialization-html-tab" role="tab">HTML</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#batch-initialization-js-tab" role="tab">JAVASCRIPT</a></li>
      </ul>
      <!--begin::Tab content-->
      <div class="tab-content">
        <!--begin::Tab panel-->
        <div class="tab-pane fade show active" id="batch-initialization-html-tab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-html">
              <code class="language-html">&lt;!--begin::Wrapper--&gt;
&lt;div id=&quot;wrapper&quot;&gt;
  &lt;!--begin:: Input group--&gt;
  &lt;div class=&quot;input-group mb-10&quot;&gt;
    &lt;!--begin::Input--&gt;
    &lt;input id=&quot;name&quot; type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Full name&quot; value=&quot;Tiger Nixon&quot; /&gt;
    &lt;!--end::Input--&gt;
    &lt;!--begin::Button--&gt;
    &lt;button id=&quot;button&quot; class=&quot;btn btn-icon btn-light&quot; data-clipboard-target=&quot;#name&quot;&gt;
      &lt;i class=&quot;ki-duotone ki-copy fs-2&quot;&gt;&lt;/i&gt;
    &lt;/button&gt;
    &lt;!--end::Button--&gt;
  &lt;/div&gt;
  &lt;!--end::Input group--&gt;
  &lt;!--begin::Input group--&gt;
  &lt;div class=&quot;input-group&quot;&gt;
    &lt;!--begin::Input--&gt;
    &lt;input id=&quot;address&quot; type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Address&quot; value=&quot;169 Pinnick Street, Waye, New Jersey, 07477&quot; /&gt;
    &lt;!--end::Input--&gt;
    &lt;!--begin::Button--&gt;
    &lt;button id=&quot;button&quot; class=&quot;btn btn-icon btn-light&quot; data-clipboard-target=&quot;#address&quot;&gt;
      &lt;i class=&quot;ki-duotone ki-copy fs-2&quot;&gt;&lt;/i&gt;
    &lt;/button&gt;
    &lt;!--end::Button--&gt;
  &lt;/div&gt;
  &lt;!--end::Input group--&gt;
&lt;/div&gt;
&lt;!--end::Wrapper--&gt;</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
        <!--begin::Tab panel-->
        <div class="tab-pane fade" id="batch-initialization-js-tab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-javascript">
              <code class="language-javascript">import {components} from &#039;metronic-extension&#039;;

// Initialize the component and set up event listeners.
components.initClipboard(document.getElementById(&#039;wrapper&#039;));</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
      </div>
      <!--begin::Tab content-->
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->