{{!< default}}
{{#contentFor 'title'}}Utilities{{/contentFor}}
{{#contentFor 'sidenav'}}
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#overview" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Overview</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#lineHeight" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Line Height</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#letterSpacing" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Letter Spacing</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#widthAndHeight" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Width & Height</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#zIndex" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Z-Index</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#cssVariables" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">CSS Variables</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="overview" data-kt-scroll-offset="100">
    <a href="#overview"></a>Overview
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    This is a design system utility class based on and extending the <a href="https://getbootstrap.com/docs/5.2/utilities/api/" target="_blank">Bootstrap Utility API</a>.
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="lineHeight" data-kt-scroll-offset="100">
    <a href="#lineHeight"></a>Line Height
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Additional line height options that extend the <a href="https://getbootstrap.com/docs/5.2utilities/text/#line-height" target="_blank">Bootstrap Line Height Classes</a>.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="my-5">
    Use <code>.lh-{value}</code> class to set an element's line height where <code>value</code> is one of.
    <ul class="pt-3 pb-5">
      <li class="py-2"><code>1</code> - for classes that set line height to <code>1</code></li>
      <li class="py-2"><code>sm</code> - for classes that set line height to <code>1.25</code></li>
      <li class="py-2"><code>base</code> - for classes that set line height to <code>1.5</code></li>
      <li class="py-2"><code>lg</code> - for classes that set line height to <code>1.75</code></li>
      <li class="py-2"><code>xl</code> - for classes that set line height to <code>2</code></li>
      <li class="py-2"><code>xxl</code> - for classes that set line height to <code>2.25</code></li>
    </ul>
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <div class="lh-1 py-5">Example text <br/> for <code>.lh-1</code></div>
      <div class="lh-sm py-5">Example text <br/> for <code>.lh-sm</code></div>
      <div class="lh-base py-5">Example text <br/> for <code>.lh-base</code></div>
      <div class="lh-lg py-5">Example text <br/> for <code>.lh-lg</code></div>
      <div class="lh-xl py-5">Example text <br/> for <code>.lh-xl</code></div>
      <div class="lh-xxl py-5">Example text <br/> for <code>.lh-xxl</code></div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;lh-1&quot;&gt;Example text for .lh-1&lt;/div&gt;
&lt;div class=&quot;lh-sm&quot;&gt;Example text for .lh-sm&lt;/div&gt;
&lt;div class=&quot;lh-base&quot;&gt;Example text for .lh-base&lt;/div&gt;
&lt;div class=&quot;lh-lg&quot;&gt;Example text for .lh-lg&lt;/div&gt;
&lt;div class=&quot;lh-xl&quot;&gt;Example text for .lh-xl&lt;/div&gt;
&lt;div class=&quot;lh-xxl&quot;&gt;Example text for .lh-xxl&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="letterSpacing" data-kt-scroll-offset="100">
    <a href="#letterSpacing"></a>Letter Spacing
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Use <code>.ls-{value}</code> class to set an element's letter spacing where <code>value</code> is one of:
    <ul class="pt-3 pb-5">
      <li class="py-2"><code>1</code> - for classes that set letter spacing to <code>0.1rem</code></li>
      <li class="py-2"><code>2</code> - for classes that set letter spacing to <code>0.115rem</code></li>
      <li class="py-2"><code>3</code> - for classes that set letter spacing to <code>0.125rem</code></li>
      <li class="py-2"><code>4</code> - for classes that set letter spacing to <code>0.25rem</code></li>
      <li class="py-2"><code>5</code> - for classes that set letter spacing to <code>0.5rem</code></li>
      <li class="py-2"><code>n1</code> - for classes that set letter spacing to <code>-0.1rem</code></li>
      <li class="py-2"><code>n2</code> - for classes that set letter spacing to <code>-0.115rem</code></li>
      <li class="py-2"><code>n3</code> - for classes that set letter spacing to <code>-0.125rem</code></li>
      <li class="py-2"><code>n4</code> - for classes that set letter spacing to <code>-0.25rem</code></li>
      <li class="py-2"><code>n5</code> - for classes that set letter spacing to <code>-0.5rem</code></li>
    </ul>
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <div class="ls-1 py-5">Example text for <code>.ls-1</code></div>
      <div class="ls-2 py-5">Example text for <code>.ls-2</code></div>
      <div class="ls-3 py-5">Example text for <code>.ls-3</code></div>
      <div class="ls-4 py-5">Example text for <code>.ls-4</code></div>
      <div class="ls-5 py-5">Example text for <code>.ls-5</code></div>
      <div class="ls-n1 py-5">Example text for <code>.ls-n1</code></div>
      <div class="ls-n2 py-5">Example text for <code>.ls-n2</code></div>
      <div class="ls-n3 py-5">Example text for <code>.ls-n3</code></div>
      <div class="ls-n4 py-5">Example text for <code>.ls-n4</code></div>
      <div class="ls-n5 py-5">Example text for <code>.ls-n5</code></div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;ls-1&quot;&gt;Example text for .ls-1&lt;/div&gt;
&lt;div class=&quot;ls-2&quot;&gt;Example text for .ls-2&lt;/div&gt;
&lt;div class=&quot;ls-3&quot;&gt;Example text for .ls-3&lt;/div&gt;
&lt;div class=&quot;ls-4&quot;&gt;Example text for .ls-4&lt;/div&gt;
&lt;div class=&quot;ls-5&quot;&gt;Example text for .ls-5&lt;/div&gt;
&lt;div class=&quot;ls-n1&quot;&gt;Example text for .ls-n1&lt;/div&gt;
&lt;div class=&quot;ls-n2&quot;&gt;Example text for .ls-n2&lt;/div&gt;
&lt;div class=&quot;ls-n3&quot;&gt;Example text for .ls-n3&lt;/div&gt;
&lt;div class=&quot;ls-n4&quot;&gt;Example text for .ls-n4&lt;/div&gt;
&lt;div class=&quot;ls-n5&quot;&gt;Example text for .ls-n5&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="widthAndHeight" data-kt-scroll-offset="100">
    <a href="#widthAndHeight"></a>Width & Height
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Assign responsive-friendly <code>height</code>, <code>min-height</code>, <code>max-height</code>, <code>width</code> , <code>min-with</code> and 
    <code>max-width</code> values to an element with shorthand classes.
    The classes are named using the format <code>{property}-{size}</code> for <code>xs</code> and <code>{property}-{breakpoint}-{size}</code> 
    for <code>sm</code>, <code>md</code>, <code>lg</code>, <code>xl</code>, and <code>xxl</code>.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    Where <code>property</code> is one of:
    <ul class="pt-3">
      <li class="py-2"><code>h</code> - for classes that set height</li>
      <li class="py-2"><code>mh</code> - for classes that set max height</li>
      <li class="py-2"><code>min-h</code> - for classes that set min height</li>
      <li class="py-2"><code>w</code> - for classes that set width</li>
      <li class="py-2"><code>mw</code> - for classes that set max width</li>
      <li class="py-2"><code>min-w</code> - for classes that set min width</li>
    </ul>
  </div>
  <!--end::Block-->
   <!--begin::Block-->
  <div class="py-5">
    Where <code>size</code> defined with <code>$custom-sizes</code> variable in <code>sass/_variables.scss</code> is one of-
    <ul class="pt-3">
      <li class="py-2"><code>25</code> - for 25%</li>
      <li class="py-2"><code>50</code> - for 50%</li>
      <li class="py-2"><code>75</code> - for 75%</li>
      <li class="py-2"><code>100</code> - for 100%</li>
      <li class="py-2"><code>auto</code> - for auto</li>
      <li class="py-2"><code>1px</code></li>
      <li class="py-2"><code>2px</code></li>
      <li class="py-2"><code>3px</code></li>
      <li class="py-2"><code>4px</code></li>
      <li class="py-2"><code>5px</code></li>
      <li class="py-2"><code>6px</code></li>
      <li class="py-2"><code>7px</code></li>
      <li class="py-2"><code>8px</code></li>
      <li class="py-2"><code>9px</code></li>
      <li class="py-2"><code>10px</code></li>
      <li class="py-2"><code>15px</code></li>
      <li class="py-2"><code>20px</code></li>
      <li class="py-2"><code>25px</code></li>
      <li class="py-2"><code>30px</code></li>
      <li class="py-2"><code>35px</code></li>
      <li class="py-2"><code>40px</code></li>
      <li class="py-2"><code>45px</code></li>
      <li class="py-2"><code>50px</code></li>
      <li class="py-2"><code>55px</code></li>
      <li class="py-2"><code>60px</code></li>
      <li class="py-2"><code>65px</code></li>
      <li class="py-2"><code>70px</code></li>
      <li class="py-2"><code>75px</code></li>
      <li class="py-2"><code>80px</code></li>
      <li class="py-2"><code>85px</code></li>
      <li class="py-2"><code>90px</code></li>
      <li class="py-2"><code>95px</code></li>
      <li class="py-2"><code>100px</code></li>
      <li class="py-2"><code>125px</code></li>
      <li class="py-2"><code>150px</code></li>
      <li class="py-2"><code>175px</code></li>
      <li class="py-2"><code>200px</code></li>
      <li class="py-2"><code>225px</code></li>
      <li class="py-2"><code>250px</code></li>
      <li class="py-2"><code>275px</code></li>
      <li class="py-2"><code>300px</code></li>
      <li class="py-2"><code>325px</code></li>
      <li class="py-2"><code>350px</code></li>
      <li class="py-2"><code>375px</code></li>
      <li class="py-2"><code>400px</code></li>
      <li class="py-2"><code>425px</code></li>
      <li class="py-2"><code>450px</code></li>
      <li class="py-2"><code>475px</code></li>
      <li class="py-2"><code>500px</code></li>
      <li class="py-2"><code>550px</code></li>
      <li class="py-2"><code>600px</code></li>
      <li class="py-2"><code>650px</code></li>
      <li class="py-2"><code>700px</code></li>
      <li class="py-2"><code>750px</code></li>
      <li class="py-2"><code>800px</code></li>
      <li class="py-2"><code>850px</code></li>
      <li class="py-2"><code>900px</code></li>
      <li class="py-2"><code>950px</code></li>
      <li class="py-2"><code>1000px</code></li>
    </ul>
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <div class="d-flex flex-wrap align-items-center">
        <div class="w-100px h-100px d-flex flex-column flex-center me-5 mb-5 bg-light   fw-semibold ">w-100px<br>h-100px</div>
        <div class="w-150px h-150px d-flex flex-column flex-center me-5 mb-5 bg-light   fw-semibold ">w-150px<br>h-150px</div>
        <div class="w-200px h-200px d-flex flex-column flex-center me-5 mb-5 bg-light   fw-semibold ">w-200px<br>h-200px</div>
        <div class="w-250px h-250px d-flex flex-column flex-center me-5 mb-5 bg-light   fw-semibold ">w-250px<br>h-250px</div>
      </div>
      <div class="separator border-solid mt-10 mb-12"></div>
      <div class="d-flex flex-wrap align-items-center">
        <div class="min-w-100px min-h-100px mw-100px mh-100px d-flex flex-column flex-center me-5 mb-5 bg-light   fw-semibold">min-w-100px<br>min-h-100px<br>mw-100px<br>mh-100px</div>
        <div class="min-w-150px min-h-150px mw-150px mh-150px d-flex flex-column flex-center me-5 mb-5 bg-light   fw-semibold">min-w-150px<br>min-h-150px<br>mw-150px<br>mh-150px</div>
        <div class="min-w-200px min-h-200px mw-200px mh-200px d-flex flex-column flex-center me-5 mb-5 bg-light   fw-semibold">min-w-200px<br>min-h-200px<br>mw-200px<br>mh-200px</div>
        <div class="min-w-250px min-h-250px mw-250px mh-250px d-flex flex-column flex-center me-5 mb-5 bg-light   fw-semibold">min-w-250px<br>min-h-250px<br>mw-250px<br>mh-250px</div>
      </div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;w-100px h-100px&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;w-150px h-150px&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;w-200px h-200px&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;w-250px h-250px&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;min-w-100px min-h-100px mw-100px mh-100px&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;min-w-150px min-h-150px mw-150px mh-150px&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;min-w-200px min-h-200px mw-200px mh-200px&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;min-w-250px min-h-250px mw-250px mh-250px&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="zIndex" data-kt-scroll-offset="100">
    <a href="#zIndex"></a>Z-Index
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Use <code>.z-index-{value}</code> class to set an element's z-index.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    Where <code>value</code> is one of:
    <ul class="pt-3">
      <li class="py-2"><code>n1</code> - for classes that set z-index <code>n1</code></li>
      <li class="py-2"><code>n2</code> - for classes that set z-index <code>n2</code></li>
      <li class="py-2"><code>0</code> - for classes that set z-index <code>0</code></li>
      <li class="py-2"><code>1</code> - for classes that set z-index <code>1</code></li>
      <li class="py-2"><code>2</code> - for classes that set z-index <code>2</code></li>
      <li class="py-2"><code>3</code> - for classes that set z-index <code>3</code></li>
    </ul>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;z-index-n1&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;z-index-n2&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;z-index-0&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;z-index-1&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;z-index-2&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;z-index-3&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="cssVariables" data-kt-scroll-offset="100">
    <a href="#cssVariables"></a>CSS Variables
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Additional custom CSS variables. Below is a list of available CSS variables.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <ul class="py-0">
      <li class="py-2"><code>--bs-primary</code> - Primary color hex value.</li>
      <li class="py-2"><code>--bs-success</code> - Success color hex value.</li>
      <li class="py-2"><code>--bs-info</code> - Info color hex value.</li>
      <li class="py-2"><code>--bs-danger</code> - Danger color hex value.</li>
      <li class="py-2"><code>--bs-warning</code> - Warning color hex value.</li>
      <li class="py-2"><code>--bs-dark</code> - Dark color hex value.</li>
      <li class="py-2"><code>--bs-light</code> - Light color hex value.</li>
      <li class="py-2"><code>--bs-gray-100</code> - Gray 100 color hex value.</li>
      <li class="py-2"><code>--bs-gray-200</code> - Gray 200 color hex value.</li>
      <li class="py-2"><code>--bs-gray-300</code> - Gray 300 color hex value.</li>
      <li class="py-2"><code>--bs-gray-400</code> - Gray 400 color hex value.</li>
      <li class="py-2"><code>--bs-gray-500</code> - Gray 500 color hex value.</li>
      <li class="py-2"><code>--bs-gray-600</code> - Gray 600 color hex value.</li>
      <li class="py-2"><code>--bs-gray-700</code> - Gray 700 color hex value.</li>
      <li class="py-2"><code>--bs-gray-800</code> - Gray 800 color hex value.</li>
      <li class="py-2"><code>--bs-gray-900</code> - Gray 900 color hex value.</li>
      <li class="py-2"><code>--bs-xs</code> - Extra small breakpoint width value - 0.</li>
      <li class="py-2"><code>--bs-sm</code> - Extra small breakpoint width value - 576px.</li>
      <li class="py-2"><code>--bs-md</code> - Medium small breakpoint width value - 768px.</li>
      <li class="py-2"><code>--bs-lg</code> - Large small breakpoint width value - 992px.</li>
      <li class="py-2"><code>--bs-xl</code> - Extra large small breakpoint width value - 1200px.</li>
      <li class="py-2"><code>--bs-xxl</code> - Double extra large breakpoint width value - 1400px.</li>
      <li class="py-2"><code>--bs-font-sans-serif</code> - Main font family. E.g: <code>"Roboto", sans-serif</code>.</li>
    </ul>
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">Javascript can also be used to access these variables.</div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-javascript">
          <code class="language-javascript">const primaryColor = KTUtil.getCssVariableValue(&#039;--bs-primary&#039;);
const breakpointLg = KTUtil.getCssVariableValue(&#039;--bs-lg&#039;);
const fontFamily = KTUtil.getCssVariableValue(&#039;--bs-font-sans-serif&#039;);</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->