{{!< default}}
{{#contentFor 'title'}}Dialog{{/contentFor}}
{{#contentFor 'script'}}<script src="build/dialog.js"></script>{{/contentFor}}
{{#contentFor 'sidenav'}}
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#overview" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Overview</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#reference" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Reference</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#allStatesExample" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">All States</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="overview" data-kt-scroll-offset="100">
    <a href="#overview"></a>Overview
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    This is a component created by extending <a href="https://sweetalert2.github.io/" target="_blank">SweetAlert</a> that displays a dialog for the intended use.
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="py-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="reference" data-kt-scroll-offset="100">
    <a href="#reference"></a>Reference
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Heading-->
    <div class="fs-2 py-5">Class methods</div>
    <!--end::Heading-->
    <!--begin::Table wrapper-->
    <div class="table-responsive">
      <!--begin::Table-->
      <table class="table table-row-bordered mb-0 gy-5">
        <!--begin::Head-->
        <thead>
          <tr class="p-6">
            <th class="min-w-250px">Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <!--end::Head-->
        <!--begin::Body-->
        <tbody>
          <tr>
            <td>
              <code>public static confirm()</code>
            </td>
            <td>
              Show the confirm dialog.
              <!--begin::Heading-->
              <div class="py-3 text-gray-700">Parameters:</div>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>message: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    The modal&#039;s text.
                  </div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>options?: sweetalert2.SweetAlertOptions|undefined</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    Sweet Alert options. The following options apply by default.
                  </div>
                  <!--end::Block-->
                  <!--begin::Block-->
                  <div class="pt-3">
                    <!--begin::Highlight-->
                    <div class="highlight">
                      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                      <div class="highlight-code">
                        <pre class="language-javascript">
                          <code class="language-javascript">{
  html: message,
  icon: &#039;question&#039;,
  confirmButtonText: &#039;OK&#039;,
  cancelButtonText: &#039;Cancel&#039;,
  showCancelButton: true,
  buttonsStyling: false,
  customClass: {
    htmlContainer: &#039;overflow-hidden&#039;,
    confirmButton: `btn btn-primary fw-bolder`,
    cancelButton: &#039;btn btn-light fw-bolder&#039;,
  }
}</code>
                        </pre>
                      </div>
                    </div>
                    <!--end::Highlight-->
                  </div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <div class="py-3 text-gray-700">Return value:</div>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>Promise&lt;boolean&gt;</code> True if the confirmation button is clicked, false otherwise.</li>
              </ul>
              <!--end::Return-->
            </td>
          </tr>
          <tr>
            <td>
              <code>public static success()</code>
            </td>
            <td>
              Show the success dialog.
              <!--begin::Heading-->
              <div class="py-3 text-gray-700">Parameters:</div>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>message: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    The modal&#039;s text.
                  </div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>options?: sweetalert2.SweetAlertOptions|undefined</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    Sweet Alert options. The following options apply by default.
                  </div>
                  <!--end::Block-->
                  <!--begin::Block-->
                  <div class="pt-3">
                    <!--begin::Highlight-->
                    <div class="highlight">
                      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                      <div class="highlight-code">
                        <pre class="language-javascript">
                          <code class="language-javascript">{
  html: message,
  icon: &#039;success&#039;,
  confirmButtonText: &#039;OK&#039;,
  cancelButtonText: &#039;Cancel&#039;,
  showCancelButton: false,
  buttonsStyling: false,
  customClass: {
    confirmButton: `btn btn-primary fw-bolder`,
    cancelButton: &#039;btn btn-light fw-bolder&#039;,
  }
}</code>
                        </pre>
                      </div>
                    </div>
                    <!--end::Highlight-->
                  </div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <div class="py-3 text-gray-700">Return value:</div>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>Promise&lt;boolean&gt;</code> True if the confirmation button is clicked, false otherwise.</li>
              </ul>
              <!--end::Return-->
            </td>
          </tr>
          <tr>
            <td>
              <code>public static error()</code>
            </td>
            <td>
              Show the error dialog.
              <!--begin::Heading-->
              <div class="py-3 text-gray-700">Parameters:</div>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>message: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    The modal&#039;s text.
                  </div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>options?: sweetalert2.SweetAlertOptions|undefined</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    Sweet Alert options. The following options apply by default.
                  </div>
                  <!--end::Block-->
                  <!--begin::Block-->
                  <div class="pt-3">
                    <!--begin::Highlight-->
                    <div class="highlight">
                      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                      <div class="highlight-code">
                        <pre class="language-javascript">
                          <code class="language-javascript">{
  html: message,
  icon: &#039;error&#039;,
  confirmButtonText: &#039;OK&#039;,
  buttonsStyling: false,
  customClass: {
    confirmButton: `btn btn-danger fw-bolder`,
  }
}</code>
                        </pre>
                      </div>
                    </div>
                    <!--end::Highlight-->
                  </div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <div class="py-3 text-gray-700">Return value:</div>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>Promise&lt;void&gt;</code> Wait for the dialog to close.</li>
              </ul>
              <!--end::Return-->
            </td>
          </tr>
          <tr>
            <td>
              <code>public static warning()</code>
            </td>
            <td>
              Show the warning dialog.
              <!--begin::Heading-->
              <div class="py-3 text-gray-700">Parameters:</div>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>message: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    The modal&#039;s text.
                  </div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>options?: sweetalert2.SweetAlertOptions|undefined</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    Sweet Alert options. The following options apply by default.
                  </div>
                  <!--end::Block-->
                  <!--begin::Block-->
                  <div class="pt-3">
                    <!--begin::Highlight-->
                    <div class="highlight">
                      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                      <div class="highlight-code">
                        <pre class="language-javascript">
                          <code class="language-javascript">{
  html: message,
  icon: &#039;warning&#039;,
  confirmButtonText: &#039;OK&#039;,
  buttonsStyling: false,
  customClass: {
    confirmButton: `btn btn-warning fw-bolder`,
  }
}</code>
                        </pre>
                      </div>
                    </div>
                    <!--end::Highlight-->
                  </div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <div class="py-3 text-gray-700">Return value:</div>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>Promise&lt;void&gt;</code> Wait for the dialog to close.</li>
              </ul>
              <!--end::Return-->
            </td>
          </tr>
          <tr>
            <td>
              <code>public static info()</code>
            </td>
            <td>
              Show the info dialog.
              <!--begin::Heading-->
              <div class="py-3 text-gray-700">Parameters:</div>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>message: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    The modal&#039;s text.
                  </div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>options?: sweetalert2.SweetAlertOptions|undefined</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    Sweet Alert options. The following options apply by default.
                  </div>
                  <!--end::Block-->
                  <!--begin::Block-->
                  <div class="pt-3">
                    <!--begin::Highlight-->
                    <div class="highlight">
                      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                      <div class="highlight-code">
                        <pre class="language-javascript">
                          <code class="language-javascript">{
  html: message,
  icon: &#039;info&#039;,
  confirmButtonText: &#039;OK&#039;,
  buttonsStyling: false,
  customClass: {
    confirmButton: `btn btn-primary fw-bolder`,
  }
}</code>
                        </pre>
                      </div>
                    </div>
                    <!--end::Highlight-->
                  </div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <div class="py-3 text-gray-700">Return value:</div>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>Promise&lt;void&gt;</code> Wait for the dialog to close.</li>
              </ul>
              <!--end::Return-->
            </td>
          </tr>
          <tr>
            <td>
              <code>public static unknownError()</code>
            </td>
            <td>
              Show unknown error.
              <!--begin::Heading-->
              <div class="py-3 text-gray-700">Parameters:</div>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>message: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    The modal&#039;s text.
                  </div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>options?: sweetalert2.SweetAlertOptions|undefined</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    Sweet Alert options. The following options apply by default.
                  </div>
                  <!--end::Block-->
                  <!--begin::Block-->
                  <div class="pt-3">
                    <!--begin::Highlight-->
                    <div class="highlight">
                      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                      <div class="highlight-code">
                        <pre class="language-javascript">
                          <code class="language-javascript">{
  html: message,
  title: &#039;An unexpected error has occurred.&#039;,
  icon: &#039;error&#039;,
  confirmButtonText: &#039;OK&#039;,
  buttonsStyling: false,
  customClass: {
    confirmButton: `btn btn-danger fw-bolder`,
  }
}</code>
                        </pre>
                      </div>
                    </div>
                    <!--end::Highlight-->
                  </div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <div class="py-3 text-gray-700">Return value:</div>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>Promise&lt;void&gt;</code> Wait for the dialog to close.</li>
              </ul>
              <!--end::Return-->
            </td>
          </tr>
          <tr>
            <td>
              <code>public static loading()</code>
            </td>
            <td>
              Show loading.
              <!--begin::Heading-->
              <div class="py-3 text-gray-700">Parameters:</div>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>message: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    The modal&#039;s text.
                  </div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>options?: sweetalert2.SweetAlertOptions|undefined</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    Sweet Alert options. The following options apply by default.
                  </div>
                  <!--end::Block-->
                  <!--begin::Block-->
                  <div class="pt-3">
                    <!--begin::Highlight-->
                    <div class="highlight">
                      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                      <div class="highlight-code">
                        <pre class="language-javascript">
                          <code class="language-javascript">{
  html: message,
  allowEscapeKey: false,
  allowOutsideClick: false,
  didOpen: () =&gt; {
    window.Swal.showLoading()
  }
}</code>
                        </pre>
                      </div>
                    </div>
                    <!--end::Highlight-->
                  </div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <div class="py-3 text-gray-700">Return value:</div>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>Promise&lt;void&gt;</code> Wait for the dialog to close.</li>
              </ul>
              <!--end::Return-->
            </td>
          </tr>
          <tr>
            <td>
              <code>public static close()</code>
            </td>
            <td>
              Closes all currently open dialogs.
            </td>
          </tr>
        </tbody>
        <!--end::Body-->
      </table>
      <!--end::Table-->
    </div>
    <!--end::Table wrapper-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="py-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="allStatesExample" data-kt-scroll-offset="100">
    <a href="#allStatesExample"></a>All States
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">Here is an example of each dialog.</div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <button data-on-confirm type="button" class="btn btn-primary m-1">Toggle Confirm</button>
      <button data-on-success type="button" class="btn btn-success m-1">Toggle Success</button>
      <button data-on-success-with-cancel-button type="button" class="btn btn-success m-1">Toggle Success with cancel button</button>
      <button data-on-error type="button" class="btn btn-danger m-1">Toggle Error</button>
      <button data-on-unknown-error type="button" class="btn btn-danger m-1">Toggle Unknown error</button>
      <button data-on-warning type="button" class="btn btn-warning m-1">Toggle Warning</button>
      <button data-on-info type="button" class="btn btn-info m-1">Toggle Info</button>
      <button data-on-loading type="button" class="btn btn-secondary m-1">Toggle Loading</button>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#allStatesExampleHtmlTab" role="tab">HTML</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#allStatesExampleJsTab" role="tab">JAVASCRIPT</a></li>
      </ul>
      <!--begin::Tab content-->
      <div class="tab-content">
        <!--begin::Tab panel-->
        <div class="tab-pane fade show active" id="allStatesExampleHtmlTab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-html">
              <code class="language-html">&lt;button data-on-confirm type=&quot;button&quot; class=&quot;btn btn-primary m-1&quot;&gt;Toggle Confirm&lt;/button&gt;
&lt;button data-on-success type=&quot;button&quot; class=&quot;btn btn-success m-1&quot;&gt;Toggle Success&lt;/button&gt;
&lt;button data-on-success-with-cancel-button type=&quot;button&quot; class=&quot;btn btn-success m-1&quot;&gt;Toggle Success with cancel button&lt;/button&gt;
&lt;button data-on-error type=&quot;button&quot; class=&quot;btn btn-danger m-1&quot;&gt;Toggle Error&lt;/button&gt;
&lt;button data-on-unknown-error type=&quot;button&quot; class=&quot;btn btn-danger m-1&quot;&gt;Toggle Unknown error&lt;/button&gt;
&lt;button data-on-warning type=&quot;button&quot; class=&quot;btn btn-warning m-1&quot;&gt;Toggle Warning&lt;/button&gt;
&lt;button data-on-info type=&quot;button&quot; class=&quot;btn btn-info m-1&quot;&gt;Toggle Info&lt;/button&gt;
&lt;button data-on-loading type=&quot;button&quot; class=&quot;btn btn-secondary m-1&quot;&gt;Toggle Loading&lt;/button&gt;</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
        <!--begin::Tab panel-->
        <div class="tab-pane fade" id="allStatesExampleJsTab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-javascript">
              <code class="language-javascript">import {Dialog} from &#039;metronic-extension&#039;;

// Toggle Confirm.
$(&#039;[data-on-confirm]&#039;).on(&#039;click&#039;, async() =&gt; {
  const isConfirmed = await Dialog.confirm(&quot;Here&#039;s an example of confirm dialog.&quot;, {confirmButtonText: &#039;Yes&#039;, cancelButtonText: &#039;No&#039;});
  alert(`Response is ${isConfirmed}`);
});

// Toggle Success.
$(&#039;[data-on-success]&#039;).on(&#039;click&#039;, () =&gt; {
  Dialog.success(&quot;Here&#039;s an example of success dialog.&quot;);
});

// Toggle Success with cancel button.
$(&#039;[data-on-success-with-cancel-button]&#039;).on(&#039;click&#039;, async () =&gt; {
  const isConfirmed = await Dialog.success(&quot;Here&#039;s an example of success dialog.&quot;, {showCancelButton: true});
  alert(`Response is ${isConfirmed}`);
});

// Toggle Error.
$(&#039;[data-on-error]&#039;).on(&#039;click&#039;, () =&gt; {
  Dialog.error(&quot;Here&#039;s an example of error dialog.&quot;);
});

// Toggle Unknown error.
$(&#039;[data-on-unknown-error]&#039;).on(&#039;click&#039;, () =&gt; {
  Dialog.unknownError();
});

// Toggle Warning.
$(&#039;[data-on-warning]&#039;).on(&#039;click&#039;, () =&gt; {
  Dialog.warning(&quot;Here&#039;s an example of warning dialog.&quot;);
});

// Toggle Info.
$(&#039;[data-on-info]&#039;).on(&#039;click&#039;, () =&gt; {
  Dialog.info(&quot;Here&#039;s an example of info dialog.&quot;);
});

// Toggle Loading.
$(&#039;[data-on-loading]&#039;).on(&#039;click&#039;, () =&gt; {
  Dialog.loading(&quot;Here&#039;s an example of loading dialog.&quot;);
  setTimeout(() =&gt; Dialog.close(), 2000);
});</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
      </div>
      <!--end::Tab content-->
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->