{{!< default}}
{{#contentFor 'title'}}ImageInput{{/contentFor}}
{{#contentFor 'script'}}<script src="build/image-input.js"></script>{{/contentFor}}
{{#contentFor 'sidenav'}}
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#overview" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Overview</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#reference" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Reference</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#basic" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Basic</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#readonly" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Read-only</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="overview" data-kt-scroll-offset="100">
    <a href="#overview"></a>Overview
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Image Input is a component that allows for simple, lightweight image input fields.
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="py-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="reference" data-kt-scroll-offset="100">
    <a href="#reference"></a>Reference
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Heading-->
    <div class="fs-2 py-5">Instance Methods</div>
    <!--end::Heading-->
    <!--begin::Table wrapper-->
    <div class="table-responsive">
      <!--begin::Table-->
      <table class="table table-row-bordered mb-0 gy-5">
        <!--begin::Head-->
        <thead>
          <tr class="p-6">
            <th class="min-w-250px">Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <!--end::Head-->
        <!--begin::Body-->
        <tbody>
          <tr>
            <td>
              <code>public constructor()</code>
            </td>
            <td>
              Create a new instance of the ImageInput class.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>element: string|HTMLDivElement|JQuery</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    HTMLDivElement selector, element, or JQuery object.
                  </div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>options.default?: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    The path or Data URL of the image to display by default if no image is selected; default is none (undefined).
                  </div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>options.current?: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    Path or Data URL of the current image, default is none (undefined).
                  </div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>options.name?: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    Name attribute of the file input. The default is none (undefined).
                  </div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>options.hiddenEl?: HTMLInputElement</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    A hidden element that sets the Data URL for the currently selected image. Default is none (undefined).
                  </div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>options.width?: number</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    Width of the image preview area in pixels. Default is 125.
                  </div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>options.height?: number</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    Height of the image preview area in pixels. Default is 125.
                  </div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>options.readonly?: boolean</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    If true, read-only. Default is false (editable).
                  </div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>options.cancelable?: boolean</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    If true, the Cancel Change (Undo) button is displayed. Default is false (cancel button is hidden).
                  </div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>options.accept?: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    A comma-separated list of MIME types or file extensions (e.g., &quot;image/*,application/pdf,.psd&quot;) for files that are allowed to be uploaded. Default is &quot;.png,.jpg,.jpeg,.svg&quot;.
                  </div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>options.language?: Record&lt;string, string&gt;</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    Strings used in the user interface.
                    <ul>
                      <li class="py-2"><code>change?: string</code>
                        <!--begin::Block-->
                        <div class="pt-3">
                          Tooltip for the change button. Default is &quot;Change&quot;.
                        </div>
                        <!--end::Block-->
                      </li>
                      <li class="py-2"><code>remove?: string</code>
                        <!--begin::Block-->
                        <div class="pt-3">
                          Delete button tooltip. Default is &quot;Delete&quot;.
                        </div>
                        <!--end::Block-->
                      </li>
                      <li class="py-2"><code>cancel?: string</code>
                        <!--begin::Block-->
                        <div class="pt-3">
                          Tooltip for the Cancel Change button. Default is &quot;Cancel and undo changes&quot;.
                        </div>
                        <!--end::Block-->
                      </li>
                    </ul>
                  </div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Highlight-->
              <div class="highlight">
                <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                <div class="highlight-code">
                  <pre class="language-javascript">
                    <code class="language-javascript">import {components} from &#039;metronic-extension&#039;;

// Initialize ImageInput.
const imageInput = new components.ImageInput(document.getElementById(&#039;myImageInput&#039;), {
  default: &#039;img/avatar1.svg&#039;,
  current: &#039;img/avatar2.png&#039;,
  width: 125,
  height: 125,
  hiddenEl: document.getElementById(&#039;myImageDataURL&#039;),
  language: {
    change: &#039;Change this image&#039;,
    remove: &#039;Delete this image&#039;,
    cancel: &#039;Cancel changes to this image&#039;
  }
});</code>
                  </pre>
                </div>
              </div>
              <!--end::Highlight-->
            </td>
          </tr>
          <tr>
            <td>
              <code>public onChange()</code>
            </td>
            <td>
              Sets the callback function that will be called when an image is modified. The callback function receives the Data URL of the image.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>handler: (dataURL: string|null) =&gt; void</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    Callback function.
                  </div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>ImageInput</code></li>
              </ul>
              <!--end::Return-->
              <!--begin::Highlight-->
              <div class="highlight">
                <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                <div class="highlight-code">
                  <pre class="language-javascript">
                    <code class="language-javascript">// Set callbacks for image changes.
imageInput.onChange(dataURL =&gt; {
  alert(&#039;Changed image&#039;);
});</code>
                  </pre>
                </div>
              </div>
              <!--end::Highlight-->
            </td>
          </tr>
          <tr>
            <td>
              <code>public download()</code>
            </td>
            <td>
              Downloading the image under selection.
            </td>
          </tr>
          <tr>
            <td>
              <code>public getInputElement()</code>
            </td>
            <td>
              Get input element.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>HTMLInputElement</code> Input Element.</li>
              </ul>
              <!--end::Return-->
            </td>
          </tr>
          <tr>
            <td>
              <code>public getImage()</code>
            </td>
            <td>
              Get Data URL of selected image.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>string|null</code> Data URL.</li>
              </ul>
              <!--end::Return-->
            </td>
          </tr>
          <tr>
            <td>
              <code>public getHiddenElement()</code>
            </td>
            <td>
              Get the hidden element that contains the Data URL of the selected image.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>HTMLInputElement|null</code> Hidden Element.</li>
              </ul>
              <!--end::Return-->
            </td>
          </tr>
        </tbody>
        <!--end::Body-->
      </table>
      <!--end::Table-->
    </div>
    <!--end::Table wrapper-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="basic" data-kt-scroll-offset="100">
    <a href="#basic"></a>Basic
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    <div class="demonstration-block">
      <!--begin::ImageInput-->
      <div id="basicImageInput"></div>
      <!--end::ImageInput-->
      <!--begin::Image data URL-->
      <input id="basicImageDataURL" type="hidden">
      <!--end::Image data URL-->
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="py-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#basic-html-tab" role="tab">HTML</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#basic-js-tab" role="tab">JAVASCRIPT</a></li>
      </ul>
      <!--begin::Tab content-->
      <div class="tab-content">
        <!--begin::Tab panel-->
        <div class="tab-pane fade show active" id="basic-html-tab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-html">
              <code class="language-html">&lt;!--begin::ImageInput--&gt;
&lt;div id=&quot;basicImageInput&quot;&gt;&lt;/div&gt;
&lt;!--end::ImageInput--&gt;
&lt;!--begin::Image data URL--&gt;
&lt;input id=&quot;basicImageDataURL&quot; type=&quot;hidden&quot;&gt;
&lt;!--end::Image data URL--&gt;</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
        <!--begin::Tab panel-->
        <div class="tab-pane fade" id="basic-js-tab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-javascript">
              <code class="language-javascript">import {components} from &#039;metronic-extension&#039;;

// Initialize ImageInput.
const basicImageInput = new components.ImageInput(document.getElementById(&#039;basicImageInput&#039;), {
  default: &#039;img/avatar1.svg&#039;,
  current: &#039;img/avatar2.png&#039;,
  width: 125,
  height: 125,
  hiddenEl: document.getElementById(&#039;basicImageDataURL&#039;),
  language: {
    change: &#039;Change this image&#039;,
    remove: &#039;Delete this image&#039;,
    cancel: &#039;Cancel changes to this image&#039;
  }
});

// Set callbacks for image changes.
basicImageInput.onChange(dataURL =&gt; {
  alert(&#039;Changed image&#039;);
});</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
      </div>
      <!--end::Tab content-->
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="py-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="readonly" data-kt-scroll-offset="100">
    <a href="#readonly"></a>Read-only
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    <div class="demonstration-block">
      <!--begin::ImageInput-->
      <div id="readonlyImageInput"></div>
      <!--end::ImageInput-->
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="py-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#readonly-html-tab" role="tab">HTML</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#readonly-js-tab" role="tab">JAVASCRIPT</a></li>
      </ul>
      <!--begin::Tab content-->
      <div class="tab-content">
        <!--begin::Tab panel-->
        <div class="tab-pane fade show active" id="readonly-html-tab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-html">
              <code class="language-html">&lt;!--begin::ImageInput--&gt;
&lt;div id=&quot;readonlyImageInput&quot;&gt;&lt;/div&gt;
&lt;!--end::ImageInput--&gt;</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
        <!--begin::Tab panel-->
        <div class="tab-pane fade" id="readonly-js-tab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-javascript">
              <code class="language-javascript">import {components} from &#039;metronic-extension&#039;;

// Initialize ImageInput.
const readonlyImageInput = new components.ImageInput(document.getElementById(&#039;readonlyImageInput&#039;), {
  current: &#039;img/avatar3.png&#039;,
  readonly: true,
});</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
      </div>
      <!--end::Tab content-->
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->