<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<!--begin::Head-->
<head>
  <title>Index - Metronic Extension</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--begin::Fonts-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
  <!--end::Fonts-->
  <!--begin::Global Stylesheets Bundle(used by all pages)-->
  <link href="build/theme/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
  <link href="build/theme/css/style.bundle.css" rel="stylesheet" type="text/css" />
  <!--end::Global Stylesheets Bundle-->
  <style>
    .app-prebuilts-thumbnail {
      border: 1px solid var(--bs-body-bg);
      filter: drop-shadow(0px 0px 50px rgba(49, 52, 122, 0.12));
    }

    .hover-elevate-up:hover {
      transform: translateY(-2.5%);
      transition: transform 0.3s ease;
    }
  </style>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="app-blank">
  <!--begin::Container-->
  <div class="container pt-5">
    <!--begin::Heading-->
    <h1 class="fw-bold mb-5">Metronic Extension Demo Index</h1>
    <!--end::Heading-->
    <!--begin::Row-->
    <div class="row gy-10">
      <!--begin::Col-->
      <div class="col-lg-4">
        <!--begin::Preview-->
        <a href="tree" class="preview-thumbnail bg-light border d-flex flex-column rounded-3 hover-elevate-up overflow-hidden">
          <!--begin::Title-->
          <h3 class="ps-12 pt-9 mb-7 text-gray-900 fw-bold letter-spacing fs-4">Tree</h3>
          <!--end::Title-->
          <!--begin::Thumbnail-->
          <span class="app-prebuilts-thumbnail rounded ms-12 mb-n6 mb-lg-n15 me-n6 mh-350px overflow-hidden">
            <img src="build/media/demos/tree.png" class="w-100 rounded" />
          </span>
          <!--end::Thumbnail-->
        </a>
        <!--end::Preview-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-4">
        <!--begin::Preview-->
        <a href="block-ui" class="preview-thumbnail bg-light border d-flex flex-column rounded-3 hover-elevate-up overflow-hidden">
          <!--begin::Title-->
          <h3 class="ps-12 pt-9 mb-7 text-gray-900 fw-bold letter-spacing fs-4">BlockUI</h3>
          <!--end::Title-->
          <!--begin::Thumbnail-->
          <span class="app-prebuilts-thumbnail rounded ms-12 mb-n6 mb-lg-n15 me-n6 mh-350px overflow-hidden">
            <img src="build/media/demos/block-ui.png" class="w-100 rounded" />
          </span>
          <!--end::Thumbnail-->
        </a>
        <!--end::Preview-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-4">
        <!--begin::Preview-->
        <a href="datatable" class="preview-thumbnail bg-light border d-flex flex-column rounded-3 hover-elevate-up overflow-hidden">
          <!--begin::Title-->
          <h3 class="ps-12 pt-9 mb-7 text-gray-900 fw-bold letter-spacing fs-4">DataTable</h3>
          <!--end::Title-->
          <!--begin::Thumbnail-->
          <span class="app-prebuilts-thumbnail rounded ms-12 mb-n6 mb-lg-n15 me-n6 mh-350px overflow-hidden">
            <img src="build/media/demos/datatable.png" class="w-100 rounded" />
          </span>
          <!--end::Thumbnail-->
        </a>
        <!--end::Preview-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-4">
        <!--begin::Preview-->
        <a href="dialog" class="preview-thumbnail bg-light border d-flex flex-column rounded-3 hover-elevate-up overflow-hidden">
          <!--begin::Title-->
          <h3 class="ps-12 pt-9 mb-7 text-gray-900 fw-bold letter-spacing fs-4">Dialog</h3>
          <!--end::Title-->
          <!--begin::Thumbnail-->
          <span class="app-prebuilts-thumbnail rounded ms-12 mb-n6 mb-lg-n15 me-n6 mh-350px overflow-hidden">
            <img src="build/media/demos/dialog.png" class="w-100 rounded" />
          </span>
          <!--end::Thumbnail-->
        </a>
        <!--end::Preview-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-4">
        <!--begin::Preview-->
        <a href="image-input" class="preview-thumbnail bg-light border d-flex flex-column rounded-3 hover-elevate-up overflow-hidden">
          <!--begin::Title-->
          <h3 class="ps-12 pt-9 mb-7 text-gray-900 fw-bold letter-spacing fs-4">Image Input</h3>
          <!--end::Title-->
          <!--begin::Thumbnail-->
          <span class="app-prebuilts-thumbnail rounded ms-12 mb-n6 mb-lg-n15 me-n6 mh-350px overflow-hidden">
            <img src="build/media/demos/image-input.png" class="w-100 rounded" />
          </span>
          <!--end::Thumbnail-->
        </a>
        <!--end::Preview-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-4">
        <!--begin::Preview-->
        <a href="modal" class="preview-thumbnail bg-light border d-flex flex-column rounded-3 hover-elevate-up overflow-hidden">
          <!--begin::Title-->
          <h3 class="ps-12 pt-9 mb-7 text-gray-900 fw-bold letter-spacing fs-4">Modal</h3>
          <!--end::Title-->
          <!--begin::Thumbnail-->
          <span class="app-prebuilts-thumbnail rounded ms-12 mb-n6 mb-lg-n15 me-n6 mh-350px overflow-hidden">
            <img src="build/media/demos/modal.png" class="w-100 rounded" />
          </span>
          <!--end::Thumbnail-->
        </a>
        <!--end::Preview-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-4">
        <!--begin::Preview-->
        <a href="tooltip" class="preview-thumbnail bg-light border d-flex flex-column rounded-3 hover-elevate-up overflow-hidden">
          <!--begin::Title-->
          <h3 class="ps-12 pt-9 mb-7 text-gray-900 fw-bold letter-spacing fs-4">Tooltip</h3>
          <!--end::Title-->
          <!--begin::Thumbnail-->
          <span class="app-prebuilts-thumbnail rounded ms-12 mb-n6 mb-lg-n15 me-n6 mh-350px overflow-hidden">
            <img src="build/media/demos/tooltip.png" class="w-100 rounded" />
          </span>
          <!--end::Thumbnail-->
        </a>
        <!--end::Preview-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-4">
        <!--begin::Preview-->
        <a href="toast" class="preview-thumbnail bg-light border d-flex flex-column rounded-3 hover-elevate-up overflow-hidden">
          <!--begin::Title-->
          <h3 class="ps-12 pt-9 mb-7 text-gray-900 fw-bold letter-spacing fs-4">Toast</h3>
          <!--end::Title-->
          <!--begin::Thumbnail-->
          <span class="app-prebuilts-thumbnail rounded ms-12 mb-n6 mb-lg-n15 me-n6 mh-350px overflow-hidden">
            <img src="build/media/demos/toast.png" class="w-100 rounded" />
          </span>
          <!--end::Thumbnail-->
        </a>
        <!--end::Preview-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-4">
        <!--begin::Preview-->
        <a href="date-range-picker" class="preview-thumbnail bg-light border d-flex flex-column rounded-3 hover-elevate-up overflow-hidden">
          <!--begin::Title-->
          <h3 class="ps-12 pt-9 mb-7 text-gray-900 fw-bold letter-spacing fs-4">Date Range Picker</h3>
          <!--end::Title-->
          <!--begin::Thumbnail-->
          <span class="app-prebuilts-thumbnail rounded ms-12 mb-n6 mb-lg-n15 me-n6 mh-350px overflow-hidden">
            <img src="build/media/demos/date-range-picker.png" class="w-100 rounded" />
          </span>
          <!--end::Thumbnail-->
        </a>
        <!--end::Preview-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-4">
        <!--begin::Preview-->
        <a href="custom-validation" class="preview-thumbnail bg-light border d-flex flex-column rounded-3 hover-elevate-up overflow-hidden">
          <!--begin::Title-->
          <h3 class="ps-12 pt-9 mb-7 text-gray-900 fw-bold letter-spacing fs-4">Custom Validation</h3>
          <!--end::Title-->
          <!--begin::Thumbnail-->
          <span class="app-prebuilts-thumbnail rounded ms-12 mb-n6 mb-lg-n15 me-n6 mh-350px overflow-hidden">
            <img src="build/media/demos/custom-validation.png" class="w-100 rounded" />
          </span>
          <!--end::Thumbnail-->
        </a>
        <!--end::Preview-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-4">
        <!--begin::Preview-->
        <a href="tagify" class="preview-thumbnail bg-light border d-flex flex-column rounded-3 hover-elevate-up overflow-hidden">
          <!--begin::Title-->
          <h3 class="ps-12 pt-9 mb-7 text-gray-900 fw-bold letter-spacing fs-4">Tagify</h3>
          <!--end::Title-->
          <!--begin::Thumbnail-->
          <span class="app-prebuilts-thumbnail rounded ms-12 mb-n6 mb-lg-n15 me-n6 mh-350px overflow-hidden">
            <img src="build/media/demos/tagify.png" class="w-100 rounded" />
          </span>
          <!--end::Thumbnail-->
        </a>
        <!--end::Preview-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-4">
        <!--begin::Preview-->
        <a href="dropzone" class="preview-thumbnail bg-light border d-flex flex-column rounded-3 hover-elevate-up overflow-hidden">
          <!--begin::Title-->
          <h3 class="ps-12 pt-9 mb-7 text-gray-900 fw-bold letter-spacing fs-4">Dropzone</h3>
          <!--end::Title-->
          <!--begin::Thumbnail-->
          <span class="app-prebuilts-thumbnail rounded ms-12 mb-n6 mb-lg-n15 me-n6 mh-350px overflow-hidden">
            <img src="build/media/demos/dropzone.png" class="w-100 rounded" />
          </span>
          <!--end::Thumbnail-->
        </a>
        <!--end::Preview-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-4">
        <!--begin::Preview-->
        <a href="select-elements" class="preview-thumbnail bg-light border d-flex flex-column rounded-3 hover-elevate-up overflow-hidden">
          <!--begin::Title-->
          <h3 class="ps-12 pt-9 mb-7 text-gray-900 fw-bold letter-spacing fs-4">Select the elements</h3>
          <!--end::Title-->
          <!--begin::Thumbnail-->
          <span class="app-prebuilts-thumbnail rounded ms-12 mb-n6 mb-lg-n15 me-n6 mh-350px overflow-hidden">
            <img src="build/media/demos/select-elements.png" class="w-100 rounded" />
          </span>
          <!--end::Thumbnail-->
        </a>
        <!--end::Preview-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-4">
        <!--begin::Preview-->
        <a href="toggle-password-visibility" class="preview-thumbnail bg-light border d-flex flex-column rounded-3 hover-elevate-up overflow-hidden">
          <!--begin::Title-->
          <h3 class="ps-12 pt-9 mb-7 text-gray-900 fw-bold letter-spacing fs-4">Toggle Password Visibility</h3>
          <!--end::Title-->
          <!--begin::Thumbnail-->
          <span class="app-prebuilts-thumbnail rounded ms-12 mb-n6 mb-lg-n15 me-n6 mh-350px overflow-hidden">
            <img src="build/media/demos/toggle-password-visibility.png" class="w-100 rounded" />
          </span>
          <!--end::Thumbnail-->
        </a>
        <!--end::Preview-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-4">
        <!--begin::Preview-->
        <a href="rest-client" class="preview-thumbnail bg-light border d-flex flex-column rounded-3 hover-elevate-up overflow-hidden">
          <!--begin::Title-->
          <h3 class="ps-12 pt-9 mb-7 text-gray-900 fw-bold letter-spacing fs-4">REST Client</h3>
          <!--end::Title-->
          <!--begin::Thumbnail-->
          <span class="app-prebuilts-thumbnail rounded ms-12 mb-n6 mb-lg-n15 me-n6 mh-350px overflow-hidden">
            <img src="build/media/demos/rest-client.png" class="w-100 rounded" />
          </span>
          <!--end::Thumbnail-->
        </a>
        <!--end::Preview-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-lg-4">
        <!--begin::Preview-->
        <a href="clipboard" class="preview-thumbnail bg-light border d-flex flex-column rounded-3 hover-elevate-up overflow-hidden">
          <!--begin::Title-->
          <h3 class="ps-12 pt-9 mb-7 text-gray-900 fw-bold letter-spacing fs-4">Clipboard</h3>
          <!--end::Title-->
          <!--begin::Thumbnail-->
          <span class="app-prebuilts-thumbnail rounded ms-12 mb-n6 mb-lg-n15 me-n6 mh-350px overflow-hidden">
            <img src="build/media/demos/clipboard.png" class="w-100 rounded" />
          </span>
          <!--end::Thumbnail-->
        </a>
        <!--end::Preview-->
      </div>
      <!--end::Col-->
    </div>
    <!--end::Row-->
  </div>
  <!--end::Container-->
</body>
<!--end::Body-->
</html>