{{!< default}}
{{#contentFor 'title'}}Product Documentation{{/contentFor}}
{{#contentFor 'style'}}
<style>
/*Hide side navigation*/
#kt_app_sidebar_navs {
  display: none;
}
</style>
{{/contentFor}}
<!--begin::Section-->
<div class="px-md-10 pt-md-10 pb-md-5">
  <!--begin::Block-->
  <div class="text-center mb-20">
    <h1 class="fs-2tx fw-bold mb-8">This is documentation of components to extend Metronic for quickly building modern web apps.</h1>
    <div class="fw-semibold fs-2 text-gray-500 mb-10">
      The most advanced <span class="fw-bold text-gray-900">Bootstrap 5</span> foundation and robust design system,<br>
      A wide variety of utility classes and custom-made components.
    </div>
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->