{{!< default}}
{{#contentFor 'title'}}Password Toggle{{/contentFor}}
{{#contentFor 'script'}}<script src="build/password-toggle.js"></script>{{/contentFor}}
{{#contentFor 'sidenav'}}
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#overview" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Overview</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#reference" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Reference</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#basic" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Basic</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#batch-initialization" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Batch initialization</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="overview" data-kt-scroll-offset="100">
    <a href="#overview"></a>Overview
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Implements a password toggle for the password input element specified by the <code>data-password-toggle</code> attribute.<br>
    An action button must be placed to the right of the password input element in advance.<br>
    See the <a href="#basic" data-kt-scroll-toggle="true">example</a> for details.
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="py-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="reference" data-kt-scroll-offset="100">
    <a href="#reference"></a>Reference
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Heading-->
    <h5 class="py-2 mb-0">Parameters:</h5>
    <!--end::Heading-->
    <!--begin::Parameters-->
    <ul>
      <li class="py-2"><code>element: string|HTMLElement|JQuery</code>
        <!--begin::Block-->
        <div class="pt-3">
          HTMLElement selector, element, or JQuery object.
        </div>
        <!--end::Block-->
      </li>
      <li class="py-2"><code>options.showButtonClass?: string</code>
        <!--begin::Block-->
        <div class="pt-3">
          CSS class to be applied to the button that shows the password. Default is &quot;bi bi-eye fs-2&quot;.
        </div>
        <!--end::Block-->
      </li>
      <li class="py-2"><code>options.hideButtonClass?: string</code>
        <!--begin::Block-->
        <div class="pt-3">
          CSS class to be applied to the button that hides the password. Default is &quot;bi bi-eye-slash fs-2&quot;.
        </div>
        <!--end::Block-->
      </li>
    </ul>
    <!--end::Parameters-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="py-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="basic" data-kt-scroll-offset="100">
    <a href="#basic"></a>Basic
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">Set the <code>data-password-toggle</code> attribute on the password input element and initialize it with the password toggle function.</div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="my-5">
    <div class="demonstration-block">
      <!--begin::Input group-->
      <div class="input-group">
        <!--begin::Input-->
        <input id="password" data-password-toggle="true" class="form-control" type="password" placeholder="Enter password" value="Dog.lov3r">
        <!--end::Input-->
        <!--begin::Button-->
        <button type="button" class="btn btn-icon btn-light"></button>
        <!--end::Button-->
      </div>
      <!--end::Input group-->
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="py-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#basic-html-tab" role="tab">HTML</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#basic-js-tab" role="tab">JAVASCRIPT</a></li>
      </ul>
      <!--begin::Tab content-->
      <div class="tab-content">
        <!--begin::Tab panel-->
        <div class="tab-pane fade show active" id="basic-html-tab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-html">
              <code class="language-html">&lt;!--begin::Input group--&gt;
&lt;div class=&quot;input-group&quot;&gt;
  &lt;!--begin::Input--&gt;
  &lt;input id=&quot;password&quot; data-password-toggle=&quot;true&quot; class=&quot;form-control&quot; type=&quot;password&quot; placeholder=&quot;Enter password&quot; value=&quot;Dog.lov3r&quot; /&gt;
  &lt;!--end::Input--&gt;
  &lt;!--begin::Button--&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-light&quot;&gt;&lt;/button&gt;
  &lt;!--end::Button--&gt;
&lt;/div&gt;
&lt;!--end::Input group--&gt;</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
        <!--begin::Tab panel-->
        <div class="tab-pane fade" id="basic-js-tab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-javascript">
              <code class="language-javascript">import {components} from &#039;metronic-extension&#039;;

// Initialize the component and set up event listeners.
components.initPasswordToggle(document.getElementById(&#039;password&#039;));</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
      </div>
      <!--begin::Tab content-->
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="py-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="batch-initialization" data-kt-scroll-offset="100">
    <a href="#batch-initialization"></a>Batch initialization
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">
    Password toggles for multiple password input elements can be initialized at once.<br>
    In that case, initialize the parent element of the password input element that has the <code>data-password-toggle</code> attribute with the password toggle function.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="my-5">
    <div class="demonstration-block">
      <!--begin::Wrapper-->
      <div id="wrapper">
        <!--begin::Input group-->
        <div class="input-group mb-10">
          <!--begin::Input-->
          <input data-password-toggle="true" class="form-control" type="password" placeholder="Enter password" value="W!Xy@5TJS">
          <!--end::Input-->
          <!--begin::Button-->
          <button type="button" class="btn btn-icon btn-light"></button>
          <!--end::Button-->
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="input-group">
          <!--begin::Input-->
          <input data-password-toggle="true" class="form-control" type="password" placeholder="Enter password" value="2l$P$3YEV">
          <!--end::Input-->
          <!--begin::Button-->
          <button type="button" class="btn btn-icon btn-light"></button>
          <!--end::Button-->
        </div>
        <!--end::Input group-->
      </div>
      <!--end::Wrapper-->
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="py-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#batch-initialization-html-tab" role="tab">HTML</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#batch-initialization-js-tab" role="tab">JAVASCRIPT</a></li>
      </ul>
      <!--begin::Tab content-->
      <div class="tab-content">
        <!--begin::Tab panel-->
        <div class="tab-pane fade show active" id="batch-initialization-html-tab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-html">
              <code class="language-html">&lt;!--begin::Wrapper--&gt;
&lt;div id=&quot;wrapper&quot;&gt;
  &lt;!--begin::Input group--&gt;
  &lt;div class=&quot;input-group mb-10&quot;&gt;
    &lt;!--begin::Input--&gt;
    &lt;input data-password-toggle=&quot;true&quot; class=&quot;form-control&quot; type=&quot;password&quot; placeholder=&quot;Enter password&quot; value=&quot;W!Xy@5TJS&quot; /&gt;
    &lt;!--end::Input--&gt;
    &lt;!--begin::Button--&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-light&quot;&gt;&lt;/button&gt;
    &lt;!--end::Button--&gt;
  &lt;/div&gt;
  &lt;!--end::Input group--&gt;
  &lt;!--begin::Input group--&gt;
  &lt;div class=&quot;input-group&quot;&gt;
    &lt;!--begin::Input--&gt;
    &lt;input data-password-toggle=&quot;true&quot; class=&quot;form-control&quot; type=&quot;password&quot; placeholder=&quot;Enter password&quot; value=&quot;2l$P$3YEV&quot; /&gt;
    &lt;!--end::Input--&gt;
    &lt;!--begin::Button--&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-icon btn-light&quot;&gt;&lt;/button&gt;
    &lt;!--end::Button--&gt;
  &lt;/div&gt;
  &lt;!--end::Input group--&gt;
&lt;/div&gt;
&lt;!--end::Wrapper--&gt;</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
        <!--begin::Tab panel-->
        <div class="tab-pane fade" id="batch-initialization-js-tab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-javascript">
              <code class="language-javascript">import {components} from &#039;metronic-extension&#039;;

// Initialize the component and set up event listeners.
components.initPasswordToggle(document.getElementById(&#039;wrapper&#039;));</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
      </div>
      <!--begin::Tab content-->
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->