{{!< default}}
{{#contentFor 'title'}}Search for elements{{/contentFor}}
{{#contentFor 'script'}}<script src="build/select-elements.js"></script>{{/contentFor}}
{{#contentFor 'sidenav'}}
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#overview" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Overview</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#reference" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Reference</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#basicExample" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Basic Example</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#asHtmlElementsExample" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">As HTML elements</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#nestedElementsExample" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Nested elements</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="overview" data-kt-scroll-offset="100">
    <a href="#overview"></a>Overview
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Searches for HTML elements with the <code>data-ref</code> attribute.<br>
    Returns an object whose key is the <code>data-ref</code> attribute value and whose value is the HTML element.
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="py-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="reference" data-kt-scroll-offset="100">
    <a href="#reference"></a>Reference
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Heading-->
    <div class="fs-2 py-5">Parameters:</div>
    <!--end::Heading-->
    <!--begin::Parameters-->
    <ul>
      <li class="py-2"><code>rootElement: string|JQuery|HTMLElement</code>
        <!--begin::Block-->
        <div class="pt-3">
          Selector, element, or jQuery object of the search source xxxx. Default is document.body.
        </div>
        <!--end::Block-->
      </li>
      <li class="py-2"><code>options.asHtmlElement?: boolean</code>
        <!--begin::Block-->
        <div class="pt-3">
          If true, the element collection is obtained as an HTML element; if false, the element collection is obtained as a JQuery object. Default is false.
        </div>
        <!--end::Block-->
      </li>
    </ul>
    <!--end::Parameters-->
    <!--begin::Heading-->
    <div class="fs-2 py-5">Return value:</div>
    <!--end::Heading-->
    <!--begin::Return-->
    <ul class="list-style-none">
      <li class="py-2"><code>[key: string]</code> any The key is the <code>data-ref</code> attribute value and the value is the HTML element object.</li>
    </ul>
    <!--end::Return-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="py-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="basicExample" data-kt-scroll-offset="100">
    <a href="#basicExample"></a>Basic Example
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Search for HTML elements. An object whose key is the <code>data-ref</code> attribute value and whose value is the jQuery element is returned as the result.
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="py-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#basicExampleHtmlTab" role="tab">HTML</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#basicExampleJsTab" role="tab">JAVASCRIPT</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#basicExampleReturnValueTab" role="tab">Return value</a></li>
      </ul>
      <!--begin::Tab content-->
      <div class="tab-content">
        <!--begin::Tab panel-->
        <div class="tab-pane fade show active" id="basicExampleHtmlTab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-html">
              <code class="language-html">&lt;form data-ref=&quot;person&quot;&gt;
  &lt;input data-ref=&quot;firstName&quot;&gt;
  &lt;input data-ref=&quot;lastName&quot;&gt;
  &lt;input data-ref=&quot;gender&quot;&gt;
  &lt;input data-ref=&quot;zip&quot;&gt;
  &lt;input data-ref=&quot;town&quot;&gt;
&lt;/form&gt;</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
        <!--begin::Tab panel-->
        <div class="tab-pane fade" id="basicExampleJsTab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-javascript">
              <code class="language-javascript">import {selectRef} from &#039;metronic-extension&#039;;

// Search for elements.
const ref = selectRef();</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
        <!--begin::Tab panel-->
        <div class="tab-pane fade" id="basicExampleReturnValueTab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-javascript">
              <code class="language-javascript">{
  firstName: JQuery&lt;HTMLInputElement&gt;,
  gender: JQuery&lt;HTMLInputElement&gt;,
  lastName: JQuery&lt;HTMLInputElement&gt;,
  person: JQuery&lt;HTMLFormElement&gt;,
  town: JQuery&lt;HTMLInputElement&gt;,
  zip: JQuery&lt;HTMLInputElement&gt;
}</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
      </div>
      <!--begin::Tab content-->
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="py-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="asHtmlElementsExample" data-kt-scroll-offset="100">
    <a href="#asHtmlElementsExample"></a>As HTML elements
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Retrieve search results as pure HTML elements. To retrieve search results as pure HTML elements, set <code>{asHtmlElement: true}</code> in the second parameter.
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="py-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#asHtmlExampleHtmlTab" role="tab">HTML</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#asHtmlExampleJsTab" role="tab">JAVASCRIPT</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#asHtmlExampleReturnValueTab" role="tab">Return value</a></li>
      </ul>
      <!--begin::Tab content-->
      <div class="tab-content">
        <!--begin::Tab panel-->
        <div class="tab-pane fade show active" id="asHtmlExampleHtmlTab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-html">
              <code class="language-html">&lt;form data-ref=&quot;person&quot;&gt;
  &lt;input data-ref=&quot;firstName&quot;&gt;
  &lt;input data-ref=&quot;lastName&quot;&gt;
  &lt;input data-ref=&quot;gender&quot;&gt;
  &lt;input data-ref=&quot;zip&quot;&gt;
  &lt;input data-ref=&quot;town&quot;&gt;
&lt;/form&gt;</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
        <!--begin::Tab panel-->
        <div class="tab-pane fade" id="asHtmlExampleJsTab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-javascript">
              <code class="language-javascript">import {selectRef} from &#039;metronic-extension&#039;;

// Search for elements.
const ref = selectRef(&#039;body&#039;, {asHtmlElement: true});</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
        <!--begin::Tab panel-->
        <div class="tab-pane fade" id="asHtmlExampleReturnValueTab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-javascript">
              <code class="language-javascript">{
  firstName: HTMLInputElement,
  gender: HTMLInputElement,
  lastName: HTMLInputElement,
  person: HTMLFormElement,
  town: HTMLInputElement,
  zip: HTMLInputElement
}</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
      </div>
      <!--end::Tab content-->
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="py-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="nestedElementsExample" data-kt-scroll-offset="100">
    <a href="#nestedElementsExample"></a>Nested elements
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">Get nested objects by setting data-ref attribute in dot notation.</div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="py-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#nestedElementsExampleHtmlTab" role="tab">HTML</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#nestedElementsExampleJsTab" role="tab">JAVASCRIPT</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#nestedElementsExampleReturnValueTab" role="tab">Return value</a></li>
      </ul>
      <!--begin::Tab content-->
      <div class="tab-content">
        <!--begin::Tab panel-->
        <div class="tab-pane fade show active" id="nestedElementsExampleHtmlTab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-html">
              <code class="language-html">&lt;form id=&quot;person&quot;&gt;
  &lt;input data-ref=&quot;person.name.firstName&quot;&gt;
  &lt;input data-ref=&quot;person.name.lastName&quot;&gt;
  &lt;input data-ref=&quot;person.gender&quot;&gt;
  &lt;input data-ref=&quot;person.zip&quot;&gt;
  &lt;input data-ref=&quot;person.town&quot;&gt;
&lt;/form&gt;</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
        <!--begin::Tab panel-->
        <div class="tab-pane fade" id="nestedElementsExampleJsTab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-javascript">
              <code class="language-javascript">import {selectRef} from &#039;metronic-extension&#039;;

// Search for elements.
const ref = selectRef(&#039;#person&#039;);</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
        <!--begin::Tab panel-->
        <div class="tab-pane fade" id="nestedElementsExampleReturnValueTab" role="tabpanel">
          <div class="highlight-code">
            <pre class="language-javascript">
              <code class="language-javascript">{
  person: {
    gender: JQuery&lt;HTMLInputElement&gt;,
    name: {
      firstName: JQuery&lt;HTMLInputElement&gt;,
      lastName: JQuery&lt;HTMLInputElement&gt;
    },
    town: JQuery&lt;HTMLInputElement&gt;,
    zip: JQuery&lt;HTMLInputElement&gt;
  }
}</code>
            </pre>
          </div>
        </div>
        <!--end::Tab panel-->
      </div>
      <!--end::Tab content-->
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->