{{!< default}}
{{#contentFor 'title'}}Separator{{/contentFor}}
{{#contentFor 'sidenav'}}
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#overview" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Overview</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#basic" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Basic</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#sizes" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Sizes</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#colors" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Colors</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#styles" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Styles</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#centeredContent" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Centered Content</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="overview" data-kt-scroll-offset="100">
    <a href="#overview"></a>Overview
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Separator is a custom component to used to device page blocks with space and visual line.
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="basic" data-kt-scroll-offset="100">
    <a href="#basic"></a>Basic
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Use <code>.separator</code> class to place a separator with border color and add vertical space with margin spacing classes as shown below.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      Some text goes here
      <div class="separator my-10"></div>
      Other text goes here
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;separator my-10&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="sizes" data-kt-scroll-offset="100">
    <a href="#sizes"></a>Sizes
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Use <code>.separator</code> class in combination with <a href="https://getbootstrap.com/docs/5.2/utilities/borders/#border-width" target="_blank">Bootstrap Border Width</a> classes to change separator border width.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <div class="separator my-10"></div>
      <div class="separator border-2 my-10"></div>
      <div class="separator border-3 my-10"></div>
      <div class="separator border-4 my-10"></div>
      <div class="separator border-5 my-10"></div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;separator my-10&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;separator border-2 my-10&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;separator border-3 my-10&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;separator border-4 my-10&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;separator border-5 my-10&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="colors" data-kt-scroll-offset="100">
    <a href="#colors"></a>Colors
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Use <code>.separator</code> class in combination with <a href="https://getbootstrap.com/docs/5.2/utilities/borders/#border-color" target="_blank">Bootstrap Border Color</a> classes to change separator's border color.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <div class="separator border-light my-10"></div>
      <div class="separator border-primary my-10"></div>
      <div class="separator border-secondary my-10"></div>
      <div class="separator border-success my-10"></div>
      <div class="separator border-info my-10"></div>
      <div class="separator border-warning my-10"></div>
      <div class="separator border-danger my-10"></div>
      <div class="separator border-dark my-10"></div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;separator border-light my-10&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;separator border-primary my-10&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;separator border-secondary my-10&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;separator border-success my-10&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;separator border-info my-10&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;separator border-warning my-10&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;separator border-danger my-10&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;separator border-dark my-10&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="styles" data-kt-scroll-offset="100">
    <a href="#styles"></a>Styles
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Add <code>.separator-dotted</code> and <code>.separator-dashed</code> classes to change a separator's border style.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <div class="separator separator-dotted border-success my-10"></div>
      <div class="separator separator-dashed border-primary my-10"></div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;separator separator-dotted border-success my-10&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;separator separator-dashed border-primary my-10&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="centeredContent" data-kt-scroll-offset="100">
    <a href="#centeredContent"></a>Centered Content
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Add <code>.separator-content</code> along with any other separator classes and include any text/icon within the separator wrapper.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <div class="separator separator-content my-15">
        Separator
      </div>
      <div class="separator separator-dotted separator-content border-dark my-15">
        <span class="h1">Title</span>
      </div>
      <div class="separator separator-content border-dark my-15">
        <span class="w-250px fw-bold">Long separator title label</span>
      </div>
      <div class="separator separator-dashed separator-content border-primary my-15">
        <i class="ki-duotone ki-abstract-19 fs-1 text-primary"><span class="path1"></span><span class="path2"></span></i>
      </div>
      <div class="separator separator-dotted separator-content border-success my-15">
        <i class="ki-duotone ki-check-square fs-2 text-success"><span class="path1"></span><span class="path2"></span></i>
      </div>
      <div class="separator separator-content border-danger my-15">
        <i class="ki-duotone ki-chart-pie-4 fs-2 text-danger"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
      </div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;!--begin::Example--&gt;
&lt;div class=&quot;separator separator-content my-15&quot;&gt;Separator&lt;/div&gt;
&lt;!--end::Example--&gt;

&lt;!--begin::Example--&gt;
&lt;div class=&quot;separator separator-dotted separator-content border-dark my-15&quot;&gt;&lt;span class=&quot;h1&quot;&gt;Title&lt;/span&gt;&lt;/div&gt;
&lt;!--end::Example--&gt;

&lt;!--begin::Example--&gt;
&lt;div class=&quot;separator separator-content border-dark my-15&quot;&gt;&lt;span class=&quot;w-250px fw-bold&quot;&gt;Long separator title label&lt;/span&gt;&lt;/div&gt;
&lt;!--end::Example--&gt;

&lt;!--begin::Example--&gt;
&lt;div class=&quot;separator separator-dashed separator-content border-primary my-15&quot;&gt;
  &lt;i class=&quot;ki-duotone ki-abstract-19 fs-1 text-primary&quot;&gt;&lt;span class=&quot;path1&quot;&gt;&lt;/span&gt;&lt;span class=&quot;path2&quot;&gt;&lt;/span&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;!--end::Example--&gt;

&lt;!--begin::Example--&gt;
&lt;div class=&quot;separator separator-dotted separator-content border-success my-15&quot;&gt;
  &lt;i class=&quot;ki-duotone ki-check-square fs-2 text-success&quot;&gt;&lt;span class=&quot;path1&quot;&gt;&lt;/span&gt;&lt;span class=&quot;path2&quot;&gt;&lt;/span&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;!--end::Example--&gt;

&lt;!--begin::Example--&gt;
&lt;div class=&quot;separator separator-content border-danger my-15&quot;&gt;
  &lt;i class=&quot;ki-duotone ki-chart-pie-4 fs-2 text-danger&quot;&gt;&lt;span class=&quot;path1&quot;&gt;&lt;/span&gt;&lt;span class=&quot;path2&quot;&gt;&lt;/span&gt;&lt;span class=&quot;path3&quot;&gt;&lt;/span&gt;&lt;/i&gt;
&lt;/div&gt;
&lt;!--end::Example--&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->