{{!< default}}
{{#contentFor 'title'}}Tabs{{/contentFor}}
{{#contentFor 'sidenav'}}
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#overview" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Overview</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#lineTabs" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Line Tabs</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#lineTabs2x" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Line Tabs 2x</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#tabsWithDropdowns" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Tabs with Dropdowns</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#cardTabs" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Card Tabs</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#scrollableTabs" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Scrollable Tabs</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#verticalTabs" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Vertical Tabs</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#richContentVerticalTabs" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Rich Content Vertical Tabs</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="overview" data-kt-scroll-offset="100">
    <a href="#overview"></a>Overview
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    This is an additional option that extends <a href="https://getbootstrap.com/docs/5.2/components/navs-tabs/#tabs" target="_blank">Bootstrap Tabs</a>.
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="lineTabs" data-kt-scroll-offset="100">
    <a href="#lineTabs"></a>Line Tabs
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    To use a custom Line Tabs style just add <code>.nav-line-tabs</code> class as shown below.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <ul class="nav nav-tabs nav-line-tabs mb-5 fs-6">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#lineTabPane1">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#lineTabPane2">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#lineTabPane3">Link 3</a>
        </li>
      </ul>
      <div class="tab-content" id="lineTabContent">
        <div class="tab-pane fade show active" id="lineTabPane1" role="tabpanel">
          Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
          Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua 
          ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod 
          tempor incididunt tempor dolor ipsum in qui sit. 
        </div>
        <div class="tab-pane fade" id="lineTabPane2" role="tabpanel">
          Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. 
          Magna duis labore cillum sint adipisicing exercitation ipsum. Nostrud ut anim non exercitation velit laboris fugiat cupidatat. 
          Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip ipsum aute laboris nisi. 
          Labore labore veniam irure irure ipsum pariatur mollit magna in cupidatat dolore magna irure esse tempor ad mollit. 
          Dolore commodo nulla minim amet ipsum officia consectetur amet ullamco voluptate nisi commodo ea sit eu.
        </div>
        <div class="tab-pane fade" id="lineTabPane3" role="tabpanel">
          Sint sit mollit irure quis est nostrud cillum consequat Lorem esse do quis dolor esse fugiat sunt do. 
          Eu ex commodo veniam Lorem aliquip laborum occaecat qui Lorem esse mollit dolore anim cupidatat. 
          eserunt officia id Lorem nostrud aute id commodo elit eiusmod enim irure amet eiusmod qui reprehenderit nostrud tempor. 
          Fugiat ipsum excepteur in aliqua non et quis aliquip ad irure in labore cillum elit enim. Consequat aliquip incididunt 
          ipsum et minim laborum laborum laborum et cillum labore. Deserunt adipisicing cillum id nulla minim nostrud labore eiusmod et amet. 
        </div>
      </div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;ul class=&quot;nav nav-tabs nav-line-tabs mb-5 fs-6&quot;&gt;
  &lt;li class=&quot;nav-item&quot;&gt;
    &lt;a class=&quot;nav-link active&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#lineTabPane1&quot;&gt;Link 1&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=&quot;nav-item&quot;&gt;
    &lt;a class=&quot;nav-link&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#lineTabPane2&quot;&gt;Link 2&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=&quot;nav-item&quot;&gt;
    &lt;a class=&quot;nav-link&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#lineTabPane3&quot;&gt;Link 3&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;
&lt;div class=&quot;tab-content&quot; id=&quot;lineTabContent&quot;&gt;
  &lt;div class=&quot;tab-pane fade show active&quot; id=&quot;lineTabPane1&quot; role=&quot;tabpanel&quot;&gt;
    ...
  &lt;/div&gt;
  &lt;div class=&quot;tab-pane fade&quot; id=&quot;lineTabPane2&quot; role=&quot;tabpanel&quot;&gt;
    ...
  &lt;/div&gt;
  &lt;div class=&quot;tab-pane fade&quot; id=&quot;lineTabPane3&quot; role=&quot;tabpanel&quot;&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="lineTabs2x" data-kt-scroll-offset="100">
    <a href="#lineTabs2x"></a>Line Tabs 2x
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Add <code>.nav-line-tabs-2x</code> class to us a line tab with 2px border width.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#lineTab2xPane1">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#lineTab2xPane2">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#lineTab2xPane3">Link 3</a>
        </li>
      </ul>
      <div class="tab-content" id="lineTab2xContent">
        <div class="tab-pane fade show active" id="lineTab2xPane1" role="tabpanel">
          Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
          Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua 
          ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod 
          tempor incididunt tempor dolor ipsum in qui sit. 
        </div>
        <div class="tab-pane fade" id="lineTab2xPane2" role="tabpanel">
          Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. 
          Magna duis labore cillum sint adipisicing exercitation ipsum. Nostrud ut anim non exercitation velit laboris fugiat cupidatat. 
          Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip ipsum aute laboris nisi. 
          Labore labore veniam irure irure ipsum pariatur mollit magna in cupidatat dolore magna irure esse tempor ad mollit. 
          Dolore commodo nulla minim amet ipsum officia consectetur amet ullamco voluptate nisi commodo ea sit eu.
        </div>
        <div class="tab-pane fade" id="lineTab2xPane3" role="tabpanel">
          Sint sit mollit irure quis est nostrud cillum consequat Lorem esse do quis dolor esse fugiat sunt do. 
          Eu ex commodo veniam Lorem aliquip laborum occaecat qui Lorem esse mollit dolore anim cupidatat. 
          eserunt officia id Lorem nostrud aute id commodo elit eiusmod enim irure amet eiusmod qui reprehenderit nostrud tempor. 
          Fugiat ipsum excepteur in aliqua non et quis aliquip ad irure in labore cillum elit enim. Consequat aliquip incididunt 
          ipsum et minim laborum laborum laborum et cillum labore. Deserunt adipisicing cillum id nulla minim nostrud labore eiusmod et amet. 
        </div>
      </div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;ul class=&quot;nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6&quot;&gt;
  &lt;li class=&quot;nav-item&quot;&gt;
    &lt;a class=&quot;nav-link active&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#lineTab2xPane1&quot;&gt;Link 1&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=&quot;nav-item&quot;&gt;
    &lt;a class=&quot;nav-link&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#lineTab2xPane2&quot;&gt;Link 2&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=&quot;nav-item&quot;&gt;
    &lt;a class=&quot;nav-link&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#lineTab2xPane3&quot;&gt;Link 3&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;
&lt;div class=&quot;tab-content&quot; id=&quot;lineTab2xContent&quot;&gt;
  &lt;div class=&quot;tab-pane fade show active&quot; id=&quot;lineTab2xPane1&quot; role=&quot;tabpanel&quot;&gt;
    ...
  &lt;/div&gt;
  &lt;div class=&quot;tab-pane fade&quot; id=&quot;lineTab2xPane2&quot; role=&quot;tabpanel&quot;&gt;
    ...
  &lt;/div&gt;
  &lt;div class=&quot;tab-pane fade&quot; id=&quot;lineTab2xPane3&quot; role=&quot;tabpanel&quot;&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="tabsWithDropdowns" data-kt-scroll-offset="100">
    <a href="#tabsWithDropdowns"></a>Tabs with Dropdowns
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    To use a custom Line Tabs style just add <code>.nav-line-tabs</code> class as shown below.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <ul class="nav nav-tabs nav-line-tabs mb-5 fs-6">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#dropdownTabPane1">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#dropdownTabPane2">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#dropdownTabPane3">Link 3</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" data-bs-toggle="tab" href="#dropdownTabPane4">Action</a></li>
            <li><a class="dropdown-item" data-bs-toggle="tab" href="#dropdownTabPane5">Another action</a></li>
            <li><a class="dropdown-item" data-bs-toggle="tab" href="#dropdownTabPane6">Something else here</a></li>
            <li><a class="dropdown-item" data-bs-toggle="tab" href="#dropdownTabPane7">Separated link</a></li>
          </ul>
        </li>
      </ul>
      <div class="tab-content" id="dropdownTabContent">
        <div class="tab-pane fade show active" id="dropdownTabPane1" role="tabpanel">
          Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
          Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua 
          ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod 
          tempor incididunt tempor dolor ipsum in qui sit. 
        </div>
        <div class="tab-pane fade" id="dropdownTabPane2" role="tabpanel">
          Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. 
          Magna duis labore cillum sint adipisicing exercitation ipsum. Nostrud ut anim non exercitation velit laboris fugiat cupidatat. 
          Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip ipsum aute laboris nisi. 
          Labore labore veniam irure irure ipsum pariatur mollit magna in cupidatat dolore magna irure esse tempor ad mollit. 
          Dolore commodo nulla minim amet ipsum officia consectetur amet ullamco voluptate nisi commodo ea sit eu.
        </div>
        <div class="tab-pane fade" id="dropdownTabPane3" role="tabpanel">
          Sint sit mollit irure quis est nostrud cillum consequat Lorem esse do quis dolor esse fugiat sunt do. 
          Eu ex commodo veniam Lorem aliquip laborum occaecat qui Lorem esse mollit dolore anim cupidatat. 
          eserunt officia id Lorem nostrud aute id commodo elit eiusmod enim irure amet eiusmod qui reprehenderit nostrud tempor. 
          Fugiat ipsum excepteur in aliqua non et quis aliquip ad irure in labore cillum elit enim. Consequat aliquip incididunt 
          ipsum et minim laborum laborum laborum et cillum labore. Deserunt adipisicing cillum id nulla minim nostrud labore eiusmod et amet. 
        </div>
        <div class="tab-pane fade" id="dropdownTabPane4" role="tabpanel">
          Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
          Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua 
          ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod 
          tempor incididunt tempor dolor ipsum in qui sit.  
        </div>
        <div class="tab-pane fade" id="dropdownTabPane5" role="tabpanel">
          Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. 
          Magna duis labore cillum sint adipisicing exercitation ipsum. Nostrud ut anim non exercitation velit laboris fugiat cupidatat. 
          Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip ipsum aute laboris nisi. 
          Labore labore veniam irure irure ipsum pariatur mollit magna in cupidatat dolore magna irure esse tempor ad mollit. 
          Dolore commodo nulla minim amet ipsum officia consectetur amet ullamco voluptate nisi commodo ea sit eu. 
        </div>
        <div class="tab-pane fade" id="dropdownTabPane6" role="tabpanel">
          Sint sit mollit irure quis est nostrud cillum consequat Lorem esse do quis dolor esse fugiat sunt do. 
          Eu ex commodo veniam Lorem aliquip laborum occaecat qui Lorem esse mollit dolore anim cupidatat. 
          eserunt officia id Lorem nostrud aute id commodo elit eiusmod enim irure amet eiusmod qui reprehenderit nostrud tempor. 
          Fugiat ipsum excepteur in aliqua non et quis aliquip ad irure in labore cillum elit enim. Consequat aliquip incididunt 
          ipsum et minim laborum laborum laborum et cillum labore. Deserunt adipisicing cillum id nulla minim nostrud labore eiusmod et amet.
        </div>
        <div class="tab-pane fade" id="dropdownTabPane7" role="tabpanel">
          Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
          Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua 
          ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod 
          tempor incididunt tempor dolor ipsum in qui sit. 
        </div>
      </div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;ul class=&quot;nav nav-tabs nav-line-tabs mb-5 fs-6&quot;&gt;
  &lt;li class=&quot;nav-item&quot;&gt;
    &lt;a class=&quot;nav-link active&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#dropdownTabPane1&quot;&gt;Link 1&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=&quot;nav-item&quot;&gt;
    &lt;a class=&quot;nav-link&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#dropdownTabPane2&quot;&gt;Link 2&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=&quot;nav-item&quot;&gt;
    &lt;a class=&quot;nav-link&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#dropdownTabPane3&quot;&gt;Link 3&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=&quot;nav-item dropdown&quot;&gt;
    &lt;a class=&quot;nav-link dropdown-toggle&quot; data-bs-toggle=&quot;dropdown&quot; href=&quot;#&quot; role=&quot;button&quot; aria-expanded=&quot;false&quot;&gt;Dropdown&lt;/a&gt;
    &lt;ul class=&quot;dropdown-menu&quot;&gt;
      &lt;li&gt;&lt;a class=&quot;nav-link dropdown-item&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#dropdownTabPane4&quot;&gt;Action&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/li&gt;
&lt;/ul&gt;
&lt;div class=&quot;tab-content&quot; id=&quot;dropdownTabContent&quot;&gt;
  &lt;div class=&quot;tab-pane fade show active&quot; id=&quot;dropdownTabPane1&quot; role=&quot;tabpanel&quot;&gt;
    ...
  &lt;/div&gt;
  &lt;div class=&quot;tab-pane fade&quot; id=&quot;dropdownTabPane2&quot; role=&quot;tabpanel&quot;&gt;
    ...
  &lt;/div&gt;
  &lt;div class=&quot;tab-pane fade&quot; id=&quot;dropdownTabPane3&quot; role=&quot;tabpanel&quot;&gt;
    ...
  &lt;/div&gt;
  &lt;div class=&quot;tab-pane fade&quot; id=&quot;dropdownTabPane4&quot; role=&quot;tabpanel&quot;&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="cardTabs" data-kt-scroll-offset="100">
    <a href="#cardTabs"></a>Card Tabs
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Add <code>.nav-stretch</code> class to use line tabs in card header.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <div class="card shadow">
        <div class="card-header card-header-stretch">
          <h3 class="card-title">Title</h3>
          <div class="card-toolbar">
            <ul class="nav nav-tabs nav-line-tabs nav-stretch fs-6 border-0">
              <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#cardTabPane1">Link 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#cardTabPane2">Link 2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#cardTabPane3">Link 3</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content" id="cardTabContent">
            <div class="tab-pane fade show active" id="cardTabPane1" role="tabpanel">
              Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
              Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua 
              ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod 
              tempor incididunt tempor dolor ipsum in qui sit. 
            </div>
            <div class="tab-pane fade" id="cardTabPane2" role="tabpanel">
              Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. 
              Magna duis labore cillum sint adipisicing exercitation ipsum. Nostrud ut anim non exercitation velit laboris fugiat cupidatat. 
              Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip ipsum aute laboris nisi. 
              Labore labore veniam irure irure ipsum pariatur mollit magna in cupidatat dolore magna irure esse tempor ad mollit. 
              Dolore commodo nulla minim amet ipsum officia consectetur amet ullamco voluptate nisi commodo ea sit eu.
            </div>
            <div class="tab-pane fade" id="cardTabPane3" role="tabpanel">
              Sint sit mollit irure quis est nostrud cillum consequat Lorem esse do quis dolor esse fugiat sunt do. 
              Eu ex commodo veniam Lorem aliquip laborum occaecat qui Lorem esse mollit dolore anim cupidatat. 
              eserunt officia id Lorem nostrud aute id commodo elit eiusmod enim irure amet eiusmod qui reprehenderit nostrud tempor. 
              Fugiat ipsum excepteur in aliqua non et quis aliquip ad irure in labore cillum elit enim. Consequat aliquip incididunt 
              ipsum et minim laborum laborum laborum et cillum labore. Deserunt adipisicing cillum id nulla minim nostrud labore eiusmod et amet. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;card&quot;&gt;
  &lt;div class=&quot;card-header card-header-stretch&quot;&gt;
    &lt;h3 class=&quot;card-title&quot;&gt;Title&lt;/h3&gt;
    &lt;div class=&quot;card-toolbar&quot;&gt;
      &lt;ul class=&quot;nav nav-tabs nav-line-tabs nav-stretch fs-6 border-0&quot;&gt;
        &lt;li class=&quot;nav-item&quot;&gt;
          &lt;a class=&quot;nav-link active&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#kt_tab_pane_7&quot;&gt;Link 1&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;nav-item&quot;&gt;
          &lt;a class=&quot;nav-link&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#kt_tab_pane_8&quot;&gt;Link 2&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;nav-item&quot;&gt;
          &lt;a class=&quot;nav-link&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#kt_tab_pane_9&quot;&gt;Link 3&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;card-body&quot;&gt;
    &lt;div class=&quot;tab-content&quot; id=&quot;myTabContent&quot;&gt;
      &lt;div class=&quot;tab-pane fade show active&quot; id=&quot;kt_tab_pane_7&quot; role=&quot;tabpanel&quot;&gt;
        ....
      &lt;/div&gt;
      &lt;div class=&quot;tab-pane fade&quot; id=&quot;kt_tab_pane_8&quot; role=&quot;tabpanel&quot;&gt;
        ...
      &lt;/div&gt;
      &lt;div class=&quot;tab-pane fade&quot; id=&quot;kt_tab_pane_9&quot; role=&quot;tabpanel&quot;&gt;
        ...
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="scrollableTabs" data-kt-scroll-offset="100">
    <a href="#scrollableTabs"></a>Scrollable Tabs
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    To use a custom Line Tabs style just add <code>.nav-line-tabs</code> class as shown below.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <div class="mb-5 hover-scroll-x">
        <div class="d-grid">
          <ul class="nav nav-tabs flex-nowrap text-nowrap">
            <li class="nav-item">
              <a class="nav-link active btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#scrollableTabPane1">Long Link 1</a>
            </li>
              <li class="nav-item">
              <a class="nav-link  btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#scrollableTabPane2">Long Link 2</a>
            </li>
              <li class="nav-item">
              <a class="nav-link  btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#scrollableTabPane3">Long Link 3</a>
            </li>
              <li class="nav-item">
              <a class="nav-link  btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#scrollableTabPane4">Long Link 4</a>
            </li>
              <li class="nav-item">
              <a class="nav-link  btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#scrollableTabPane5">Long Link 5</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#scrollableTabPane6">Long Link 6</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#scrollableTabPane7">Long Link 7</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#scrollableTabPane8">Long Link 8</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#scrollableTabPane9">Long Link 9</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#scrollableTabPane10">Long Link 10</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content" id="scrollableTabContent">
        <div class="tab-pane fade show active" id="scrollableTabPane1" role="tabpanel">
          Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
          Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua 
          ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod 
          tempor incididunt tempor dolor ipsum in qui sit. 
        </div>
        <div class="tab-pane fade" id="scrollableTabPane2" role="tabpanel">
          Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. 
          Magna duis labore cillum sint adipisicing exercitation ipsum. Nostrud ut anim non exercitation velit laboris fugiat cupidatat. 
          Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip ipsum aute laboris nisi. 
          Labore labore veniam irure irure ipsum pariatur mollit magna in cupidatat dolore magna irure esse tempor ad mollit. 
          Dolore commodo nulla minim amet ipsum officia consectetur amet ullamco voluptate nisi commodo ea sit eu.
        </div>
        <div class="tab-pane fade" id="scrollableTabPane3" role="tabpanel">
          Sint sit mollit irure quis est nostrud cillum consequat Lorem esse do quis dolor esse fugiat sunt do. 
          Eu ex commodo veniam Lorem aliquip laborum occaecat qui Lorem esse mollit dolore anim cupidatat. 
          eserunt officia id Lorem nostrud aute id commodo elit eiusmod enim irure amet eiusmod qui reprehenderit nostrud tempor. 
          Fugiat ipsum excepteur in aliqua non et quis aliquip ad irure in labore cillum elit enim. Consequat aliquip incididunt 
          ipsum et minim laborum laborum laborum et cillum labore. Deserunt adipisicing cillum id nulla minim nostrud labore eiusmod et amet. 
        </div>
      </div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;mb-5 hover-scroll-x&quot;&gt;
  &lt;div class=&quot;d-grid&quot;&gt;
    &lt;ul class=&quot;nav nav-tabs flex-nowrap text-nowrap&quot;&gt;
      &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a class=&quot;nav-link btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#scrollableTabPane1&quot;&gt;Long Link 1&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;
        &lt;a class=&quot;nav-link btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#scrollableTabPane1&quot;&gt;Long Link 2&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;tab-content&quot; id=&quot;scrollableTabContent&quot;&gt;
  &lt;div class=&quot;tab-pane fade show active&quot; id=&quot;scrollableTabPane1&quot; role=&quot;tabpanel&quot;&gt;
    ...
  &lt;/div&gt;
  &lt;div class=&quot;tab-pane fade&quot; id=&quot;scrollableTabPane2&quot; role=&quot;tabpanel&quot;&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="verticalTabs" data-kt-scroll-offset="100">
    <a href="#verticalTabs"></a>Vertical Tabs
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    To use a custom Vertical Tabs style just add <code>.flex-column</code> class as shown below.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <div class="d-flex flex-column flex-md-row">
        <ul class="nav nav-tabs nav-pills border-0 flex-row flex-md-column me-5 mb-3 mb-md-0 fs-6">
          <li class="nav-item w-md-200px me-0">
            <a class="nav-link active" data-bs-toggle="tab" href="#verticalTabPane1">Link 1</a>
          </li>
          <li class="nav-item w-md-200px me-0">
            <a class="nav-link" data-bs-toggle="tab" href="#verticalTabPane2">Link 2</a>
          </li>
          <li class="nav-item w-md-200px">
            <a class="nav-link" data-bs-toggle="tab" href="#verticalTabPane3">Link 3</a>
          </li>
        </ul>
        <div class="tab-content" id="verticalTabContent">
          <div class="tab-pane fade show active" id="verticalTabPane1" role="tabpanel">
            Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. 
            Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua 
            ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod 
            tempor incididunt tempor dolor ipsum in qui sit. 
          </div>
          <div class="tab-pane fade" id="verticalTabPane2" role="tabpanel">
            Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. 
            Magna duis labore cillum sint adipisicing exercitation ipsum. Nostrud ut anim non exercitation velit laboris fugiat cupidatat. 
            Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip ipsum aute laboris nisi. 
            Labore labore veniam irure irure ipsum pariatur mollit magna in cupidatat dolore magna irure esse tempor ad mollit. 
            Dolore commodo nulla minim amet ipsum officia consectetur amet ullamco voluptate nisi commodo ea sit eu.
          </div>
          <div class="tab-pane fade" id="verticalTabPane3" role="tabpanel">
            Sint sit mollit irure quis est nostrud cillum consequat Lorem esse do quis dolor esse fugiat sunt do. 
            Eu ex commodo veniam Lorem aliquip laborum occaecat qui Lorem esse mollit dolore anim cupidatat. 
            eserunt officia id Lorem nostrud aute id commodo elit eiusmod enim irure amet eiusmod qui reprehenderit nostrud tempor. 
            Fugiat ipsum excepteur in aliqua non et quis aliquip ad irure in labore cillum elit enim. Consequat aliquip incididunt 
            ipsum et minim laborum laborum laborum et cillum labore. Deserunt adipisicing cillum id nulla minim nostrud labore eiusmod et amet. 
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;ul class=&quot;nav nav-tabs nav-pills border-0 flex-row flex-md-column me-5 mb-3 mb-md-0 fs-6&quot;&gt;
  &lt;li class=&quot;nav-item w-md-200px me-0&quot;&gt;
    &lt;a class=&quot;nav-link active&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#verticalTabPane1&quot;&gt;Link 1&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=&quot;nav-item w-md-200px me-0&quot;&gt;
    &lt;a class=&quot;nav-link&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#verticalTabPane2&quot;&gt;Link 2&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=&quot;nav-item w-md-200px&quot;&gt;
    &lt;a class=&quot;nav-link&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#verticalTabPane3&quot;&gt;Link 3&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="richContentVerticalTabs" data-kt-scroll-offset="100">
    <a href="#richContentVerticalTabs"></a>Rich Content Vertical Tabs
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Vertical tabs can support rich content such as icons with ease by adding <code>btn</code> classes to <code>.nav-link</code>.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <div class="d-flex flex-column flex-md-row">
        <ul class="nav nav-tabs nav-pills flex-row border-0 flex-md-column me-5 mb-3 mb-md-0 fs-6 min-w-lg-200px">
          <li class="nav-item w-100 me-0 mb-md-2">
            <a class="nav-link w-100 active btn btn-flex btn-active-light-success" data-bs-toggle="tab" href="#richVerticalTabPane1">
              <i class="ki-duotone ki-icons/duotune/general/gen001.svg fs-2 text-primary me-3"></i>
              <span class="d-flex flex-column align-items-start">
                <span class="fs-4 fw-bold">Link 1</span>
                <span class="fs-7">Description</span>
              </span>
            </a>
          </li>
          <li class="nav-item w-100 me-0 mb-md-2">
            <a class="nav-link w-100 btn btn-flex btn-active-light-info" data-bs-toggle="tab" href="#richVerticalTabPane2">
              <i class="ki-duotone ki-icons/duotune/general/gen003.svg fs-2 text-primary"></i>
              <span class="d-flex flex-column align-items-start">
                <span class="fs-4 fw-bold">Link 2</span>
                <span class="fs-7">Description</span>
              </span>
            </a>
          </li>
          <li class="nav-item w-100">
            <a class="nav-link w-100 btn btn-flex btn-active-light-danger" data-bs-toggle="tab" href="#richVerticalTabPane3">
              <i class="ki-duotone ki-icons/duotune/general/gen017.svg fs-2 text-primary"></i>
              <span class="d-flex flex-column align-items-start">
                <span class="fs-4 fw-bold">Link 3</span>
                <span class="fs-7">Description</span>
              </span>
            </a>
          </li>
        </ul>
        <div class="tab-content" id="richVerticalTabContent">
          <div class="tab-pane fade show active" id="richVerticalTabPane1" role="tabpanel">
            Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam.
            Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua
            ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod
            tempor incididunt tempor dolor ipsum in qui sit.
          </div>
          <div class="tab-pane fade" id="richVerticalTabPane2" role="tabpanel">
            Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit.
            Magna duis labore cillum sint adipisicing exercitation ipsum. Nostrud ut anim non exercitation velit laboris fugiat cupidatat.
            Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip ipsum aute laboris nisi.
            Labore labore veniam irure irure ipsum pariatur mollit magna in cupidatat dolore magna irure esse tempor ad mollit.
            Dolore commodo nulla minim amet ipsum officia consectetur amet ullamco voluptate nisi commodo ea sit eu.
          </div>
          <div class="tab-pane fade" id="richVerticalTabPane3" role="tabpanel">
            Sint sit mollit irure quis est nostrud cillum consequat Lorem esse do quis dolor esse fugiat sunt do.
            Eu ex commodo veniam Lorem aliquip laborum occaecat qui Lorem esse mollit dolore anim cupidatat.
            eserunt officia id Lorem nostrud aute id commodo elit eiusmod enim irure amet eiusmod qui reprehenderit nostrud tempor.
            Fugiat ipsum excepteur in aliqua non et quis aliquip ad irure in labore cillum elit enim. Consequat aliquip incididunt
            ipsum et minim laborum laborum laborum et cillum labore. Deserunt adipisicing cillum id nulla minim nostrud labore eiusmod et amet.
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;ul class=&quot;nav nav-tabs nav-pills flex-row border-0 flex-md-column me-5 mb-3 mb-md-0 fs-6 min-w-lg-200px&quot;&gt;
  &lt;li class=&quot;nav-item w-100 me-0 mb-md-2&quot;&gt;
    &lt;a class=&quot;nav-link w-100 active btn btn-flex btn-active-light-success&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#richVerticalTabPane4&quot;&gt;
      &lt;span class=&quot;svg-icon fs-2&quot;&gt;&lt;svg&gt;...&lt;/svg&gt;&lt;/span&gt;
      &lt;span class=&quot;d-flex flex-column align-items-start&quot;&gt;
        &lt;span class=&quot;fs-4 fw-bold&quot;&gt;Link 1&lt;/span&gt;
        &lt;span class=&quot;fs-7&quot;&gt;Description&lt;/span&gt;
      &lt;/span&gt;
    &lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=&quot;nav-item w-100 me-0 mb-md-2&quot;&gt;
    &lt;a class=&quot;nav-link w-100 btn btn-flex btn-active-light-info&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#richVerticalTabPane5&quot;&gt;
      &lt;span class=&quot;svg-icon fs-2&quot;&gt;&lt;svg&gt;...&lt;/svg&gt;&lt;/span&gt;
      &lt;span class=&quot;d-flex flex-column align-items-start&quot;&gt;
        &lt;span class=&quot;fs-4 fw-bold&quot;&gt;Link 2&lt;/span&gt;
        &lt;span class=&quot;fs-7&quot;&gt;Description&lt;/span&gt;
      &lt;/span&gt;
    &lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=&quot;nav-item w-100&quot;&gt;
    &lt;a class=&quot;nav-link w-100 btn btn-flex btn-active-light-danger&quot; data-bs-toggle=&quot;tab&quot; href=&quot;#richVerticalTabPane6&quot;&gt;
      &lt;span class=&quot;svg-icon fs-2&quot;&gt;&lt;svg&gt;...&lt;/svg&gt;&lt;/span&gt;
      &lt;span class=&quot;d-flex flex-column align-items-start&quot;&gt;
        &lt;span class=&quot;fs-4 fw-bold&quot;&gt;Link 3&lt;/span&gt;
        &lt;span class=&quot;fs-7&quot;&gt;Description&lt;/span&gt;
      &lt;/span&gt;
    &lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->