<!DOCTYPE html>
<html lang="en" data-theme="dark">
<!--begin::Head-->
<head>
  <title>Tagify - Metronic Extension</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--begin::Fonts-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
  <!--end::Fonts-->
  <!--begin::Vendor Stylesheets(used for this page only)-->
  <link href="build/theme/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
  <link href="build/theme/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
  <!--end::Vendor Stylesheets-->
  <!--begin::Global Stylesheets Bundle(used by all pages)-->
  <link href="build/theme/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
  <link href="build/theme/css/style.bundle.css" rel="stylesheet" type="text/css" />
  <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->
<body data-bs-spy="scroll" data-bs-target="#sidebarNav" id="kt_body" class="app-blank">
  <!--begin::Root-->
  <div class="d-flex flex-column flex-root" id="kt_app_root">
    <!--begin::Content-->
    <div class="d-flex flex-column flex-column-fluid">
      <!--begin::Container-->
      <div class="container d-flex flex-column flex-lg-row">
        <!--begin::Card-->
        <div class="card flex-row-fluid mb-2">
          <!--begin::Card Body-->
          <div class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15 text-gray-700">
            <!--begin::Section-->
            <div class="pb-10">
              <!--begin::Heading-->             
              <h1 class="anchor fw-bold mb-5" id="basicTagify" data-kt-scroll-offset="50" tabindex="-1" style="outline: none;">
                <a href="#basicTagify"></a>Basic Tagify
              </h1>
              <!--end::Heading-->
              <!--begin::Block-->
              <div class="py-5">Transforms an input field or a textarea into a Tags component, in an easy, customizable way, with great performance and small code footprint, exploded with features For full documentation please check the <a href="https://yaireo.github.io/tagify/" target="_blank" class="fw-semibold">plugin's site</a>.</div>
              <!--end::Block-->
              <!--begin::Block-->
              <div class="my-5">
                <input data-ref="basicTagify" class="form-control form-control-solid" value="tag1,tag2,tag3" />
              </div>
              <!--end::Block-->
              <!--begin::Code-->
              <div class="py-5">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#basicTagifyJsTabPane" role="tab">HTML</a></li>
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#basicTagifyHtmlTab" role="tab">JAVASCRIPT</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="basicTagifyJsTabPane" role="tabpanel">
                      <div class="highlight-code">
                        <pre class="language-html" style="max-height:400px">
                          <code class="language-html">&lt;input data-ref=&quot;basicTagify&quot; class=&quot;form-control form-control-solid&quot; value=&quot;tag1,tag2,tag3&quot; /&gt;</code>
                        </pre>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="basicTagifyHtmlTab" role="tabpanel">
                      <div class="highlight-code">
                        <pre class="language-javascript">
                          <code class="language-javascript">import {Tagify, selectRef} from &#039;metronic-extension&#039;;

const ref = selectRef();
const basicTagify = new Tagify(ref.basicTagify);</code>
                        </pre>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </div>
            <!--end::Section-->
            <!--begin::Section-->
            <div class="py-10">
              <!--begin::Heading-->             
              <h1 class="anchor fw-bold mb-5" id="readonlyTagify" data-kt-scroll-offset="50" tabindex="-1" style="outline: none;">
                <a href="#readonlyTagify"></a>Read-only Tagify
              </h1>
              <!--end::Heading-->
              <!--begin::Block-->
              <div class="my-5">
                <input data-ref="readonlyTagify" class="form-control form-control-solid" value="tag1,tag2,tag3" />
              </div>
              <!--end::Block-->
              <!--begin::Code-->
              <div class="py-5">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#readonlyTagifyJsTabPane" role="tab">HTML</a></li>
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#readonlyTagifyHtmlTab" role="tab">JAVASCRIPT</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="readonlyTagifyJsTabPane" role="tabpanel">
                      <div class="highlight-code">
                        <pre class="language-html" style="max-height:400px">
                          <code class="language-html">&lt;input data-ref=&quot;readonlyTagify&quot; class=&quot;form-control form-control-solid&quot; value=&quot;tag1,tag2,tag3&quot; /&gt;</code>
                        </pre>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="readonlyTagifyHtmlTab" role="tabpanel">
                      <div class="highlight-code">
                        <pre class="language-javascript">
                          <code class="language-javascript">import {Tagify, selectRef} from &#039;metronic-extension&#039;;

const ref = selectRef();
const readonlyTagify = new Tagify(ref.readonlyTagify, {
  readonly: true,
});</code>
                        </pre>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </div>
            <!--end::Section-->
            <!--begin::Section-->
            <div class="py-10">
              <!--begin::Heading-->
              <h1 class="anchor fw-bold mb-5" id="maxlenTagify" data-kt-scroll-offset="50" tabindex="-1" style="outline: none;">
                <a href="#maxlenTagify"></a>Maximum length of tag entry characters
              </h1>
              <!--end::Heading-->
              <!--begin::Block-->
              <div class="my-5">In this example, the tag can contain up to 10 characters.</div>
              <!--end::Block-->
              <!--begin::Block-->
              <div class="my-5">
                <input data-ref="maxlenTagify" class="form-control form-control-solid" value="tag1,tag2,tag3" />
              </div>
              <!--end::Block-->
              <!--begin::Code-->
              <div class="py-5">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#maxlenTagifyJsTabPane" role="tab">HTML</a></li>
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#maxlenTagifyHtmlTab" role="tab">JAVASCRIPT</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="maxlenTagifyJsTabPane" role="tabpanel">
                      <div class="highlight-code">
                        <pre class="language-html" style="max-height:400px">
                          <code class="language-html">&lt;input data-ref=&quot;maxlenTagify&quot; class=&quot;form-control form-control-solid&quot; value=&quot;tag1,tag2,tag3&quot; /&gt;</code>
                        </pre>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="maxlenTagifyHtmlTab" role="tabpanel">
                      <div class="highlight-code">
                        <pre class="language-javascript">
                          <code class="language-javascript">import {Tagify, selectRef} from &#039;metronic-extension&#039;;

const ref = selectRef();
const maxlenTagify = new Tagify(ref.maxlenTagify, {
  maxChars: 10,
});</code>
                        </pre>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </div>
            <!--end::Section-->
            <!--begin::Section-->
            <div class="py-10">
              <!--begin::Heading-->
              <h1 class="anchor fw-bold mb-5" id="inlineSuggestionsTagify" data-kt-scroll-offset="50" tabindex="-1" style="outline: none;">
                <a href="#inlineSuggestionsTagify"></a>Inline Suggestions
              </h1>
              <!--end::Heading-->
              <!--begin::Block-->
              <div class="my-5">
                <input data-ref="inlineSuggestionsTagify" class="form-control form-control-solid" value="tag1,tag2,tag3" />
              </div>
              <!--end::Block-->
              <!--begin::Code-->
              <div class="py-5">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#inlineSuggestionsTagifyJsTabPane" role="tab">HTML</a></li>
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#inlineSuggestionsTagifyHtmlTab" role="tab">JAVASCRIPT</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="inlineSuggestionsTagifyJsTabPane" role="tabpanel">
                      <div class="highlight-code">
                        <pre class="language-html" style="max-height:400px">
                          <code class="language-html">&lt;input data-ref=&quot;inlineSuggestionsTagify&quot; class=&quot;form-control form-control-solid&quot; value=&quot;tag1,tag2,tag3&quot; /&gt;</code>
                        </pre>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="inlineSuggestionsTagifyHtmlTab" role="tabpanel">
                      <div class="highlight-code">
                        <pre class="language-javascript">
                          <code class="language-javascript">import {Tagify, selectRef} from &#039;metronic-extension&#039;;

const ref = selectRef();
const inlineSuggestionsTagify = new Tagify(ref.inlineSuggestionsTagify, {
  whitelist: [&#039;tag1&#039;, &#039;tag2&#039;, &#039;tag3&#039;, &#039;tag4&#039;, &#039;tag5&#039;, &#039;tag6&#039;, &#039;tag7&#039;],
  dropdown: {
    maxItems: 20,
    classname: &#039;tagify__inline__suggestions&#039;,
  }
});</code>
                        </pre>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </div>
            <!--end::Section-->
            <!--begin::Section-->
            <div class="py-10">
              <!--begin::Heading-->
              <h1 class="anchor fw-bold mb-5" id="listSuggestionsTagify" data-kt-scroll-offset="50" tabindex="-1" style="outline: none;">
                <a href="#listSuggestionsTagify"></a>List Suggestions
              </h1>
              <!--end::Heading-->
              <!--begin::Block-->
              <div class="my-5">
                <input data-ref="listSuggestionsTagify" class="form-control form-control-solid" value="tag1,tag2,tag3" />
              </div>
              <!--end::Block-->
              <!--begin::Code-->
              <div class="py-5">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#listSuggestionsTagifyJsTabPane" role="tab">HTML</a></li>
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#listSuggestionsTagifyHtmlTab" role="tab">JAVASCRIPT</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="listSuggestionsTagifyJsTabPane" role="tabpanel">
                      <div class="highlight-code">
                        <pre class="language-html" style="max-height:400px">
                          <code class="language-html">&lt;input data-ref=&quot;listSuggestionsTagify&quot; class=&quot;form-control form-control-solid&quot; value=&quot;tag1,tag2,tag3&quot; /&gt;</code>
                        </pre>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="listSuggestionsTagifyHtmlTab" role="tabpanel">
                      <div class="highlight-code">
                        <pre class="language-javascript">
                          <code class="language-javascript">import {Tagify, selectRef} from &#039;metronic-extension&#039;;

const ref = selectRef();
const listSuggestionsTagify = new Tagify(ref.listSuggestionsTagify, {
  whitelist: [&#039;tag1&#039;, &#039;tag2&#039;, &#039;tag3&#039;, &#039;tag4&#039;, &#039;tag5&#039;, &#039;tag6&#039;, &#039;tag7&#039;],
  dropdown: {maxItems: 20},
});</code>
                        </pre>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </div>
            <!--end::Section-->
            <!--begin::Section-->
            <div class="py-10">
              <!--begin::Heading-->
              <h1 class="anchor fw-bold mb-5" id="eventTagify" data-kt-scroll-offset="50" tabindex="-1" style="outline: none;">
                <a href="#eventTagify"></a>Handle events (add and delete tags)
              </h1>
              <!--end::Heading-->
              <!--begin::Block-->
              <div class="my-5">
                <input data-ref="eventTagify" class="form-control form-control-solid" value="tag1,tag2,tag3" />
              </div>
              <!--end::Block-->
              <!--begin::Code-->
              <div class="py-5">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#eventTagifyJsTabPane" role="tab">HTML</a></li>
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#eventTagifyHtmlTab" role="tab">JAVASCRIPT</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="eventTagifyJsTabPane" role="tabpanel">
                      <div class="highlight-code">
                        <pre class="language-html" style="max-height:400px">
                          <code class="language-html">&lt;input data-ref=&quot;eventTagify&quot; class=&quot;form-control form-control-solid&quot; value=&quot;tag1,tag2,tag3&quot; /&gt;</code>
                        </pre>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="eventTagifyHtmlTab" role="tabpanel">
                      <div class="highlight-code">
                        <pre class="language-javascript">
                          <code class="language-javascript">import {Tagify, selectRef} from &#039;metronic-extension&#039;;

const ref = selectRef();
const eventTagify = new Tagify(ref.eventTagify, {
  whitelist: [&#039;tag1&#039;, &#039;tag2&#039;, &#039;tag3&#039;, &#039;tag4&#039;, &#039;tag5&#039;, &#039;tag6&#039;, &#039;tag7&#039;],
  dropdown: {maxItems: 20},
});
eventTagify
  .onAddTag(evnt =&gt; alert(&#039;Add tag&#039;))
  .onRemoveTag(evnt =&gt; alert(&#039;Delete tag&#039;))
  .onChangeTag(evnt =&gt; alert(&#039;Change (add or remove) a tag&#039;));</code>
                        </pre>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </div>
            <!--end::Section-->
          </div>
          <!--end::Card Body-->
        </div>
        <!--end::Card-->
        <!--begin::Sidebar wrapper-->
        <div class="ms-7 flex-row-auto w-lg-200px">
          <!--begin::Sidebar nav-->
          <div class="card card-flush d-none d-lg-flex" data-kt-sticky="true" data-kt-sticky-name="sidebar-navs" data-kt-sticky-offset="{default: false, lg: 200}" data-kt-sticky-width="200px" data-kt-sticky-animation="false" data-kt-sticky-left="auto" data-kt-sticky-top="25px" data-kt-sticky-zindex="95">
            <!--begin::Card body-->
            <div class="card-body px-0 px-3 py-6">
              <!--begin::Menu-->
              <ul id="sidebarNav" class="nav nav-flush menu menu-column menu-title-gray-700 menu-bullet-gray-300 menu-state-primary fw-semibold fs-6">
                <!--begin::Item-->
                <li class="menu-item py-2 px-3">
                  <!--begin::Link-->
                  <a href="#basicTagify" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
                    <span class="menu-bullet">
                      <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">Basic Tagify</span>
                  </a>
                  <!--end::Link-->
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="menu-item py-2 px-3">
                  <!--begin::Link-->
                  <a href="#readonlyTagify" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
                    <span class="menu-bullet">
                      <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">Read-only</span>
                  </a>
                  <!--end::Link-->
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="menu-item py-2 px-3">
                  <!--begin::Link-->
                  <a href="#maxlenTagify" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
                    <span class="menu-bullet">
                      <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">Maximum length of tag entry characters</span>
                  </a>
                  <!--end::Link-->
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="menu-item py-2 px-3">
                  <!--begin::Link-->
                  <a href="#inlineSuggestionsTagify" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
                    <span class="menu-bullet">
                      <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">Inline Suggestions</span>
                  </a>
                  <!--end::Link-->
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="menu-item py-2 px-3">
                  <!--begin::Link-->
                  <a href="#listSuggestionsTagify" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
                    <span class="menu-bullet">
                      <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">List Suggestions</span>
                  </a>
                  <!--end::Link-->
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="menu-item py-2 px-3">
                  <!--begin::Link-->
                  <a href="#eventTagify" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
                    <span class="menu-bullet">
                      <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">Handle events (add and delete tags)</span>
                  </a>
                  <!--end::Link-->
                </li>
                <!--end::Item-->
              </ul>
              <!--end::Menu-->
            </div>
            <!--end::Card body-->
          </div>
          <!--end::Sidebar nav-->
        </div>
        <!--end::Sidebar wrapper-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Root-->
  <!--begin::Javascript-->
  <!--begin::Global Javascript Bundle(used by all pages)-->
  <script src="build/theme/plugins/global/plugins.bundle.js"></script>
  <script src="build/theme/js/scripts.bundle.js"></script>
  <!--end::Global Javascript Bundle-->
  <!--begin::Vendors Javascript(used for this page only)-->
  <script src="build/theme/plugins/custom/datatables/datatables.bundle.js"></script>
  <script src="build/theme/plugins/custom/prismjs/prismjs.bundle.js"></script>
  <!--end::Vendors Javascript-->
  <!--begin::Custom Javascript(used by this page)-->
  <script src="build/tagify.js"></script>
  <!--end::Custom Javascript-->
  <!--end::Javascript-->
</body>
<!--end::Body-->
</html>