{{!< default}}
{{#contentFor 'title'}}Text{{/contentFor}}
{{#contentFor 'sidenav'}}
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#textColors" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Text Colors</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#lightColors" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Light Colors</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#inverseColors" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Inverse Colors</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="textColors" data-kt-scroll-offset="100">
    <a href="#textColors"></a>Text Colors
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Colorize text with color utilities as shown.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <p class="text-white bg-gray-500 py-3 fw-semibold fw-6">.text-white</p>
      <p class="text-primary py-3 fw-semibold fw-6">.text-primary</p>
      <p class="text-secondary py-3 fw-semibold fw-6">.text-secondary</p>
      <p class="text-light bg-gray-500 py-3 fw-semibold fw-6">.text-light</p>
      <p class="text-success py-3 fw-semibold fw-6">.text-success</p>
      <p class="text-info py-3 fw-semibold fw-6">.text-info</p>
      <p class="text-warning py-3 fw-semibold fw-6">.text-warning</p>
      <p class="text-danger py-3 fw-semibold fw-6">.text-danger</p>
      <p class="text-dark py-3 fw-semibold fw-6">.text-dark</p>
      <p class="text-muted py-3 fw-semibold fw-6">.text-muted</p>
      <p class="text-gray-100 bg-gray-500 py-3 fw-semibold fw-6">.text-gray-100</p>
      <p class="text-gray-200 py-3 fw-semibold fw-6">.text-gray-200</p>
      <p class="text-gray-300 py-3 fw-semibold fw-6">.text-gray-300</p>
      <p class="text-gray-400 py-3 fw-semibold fw-6">.text-gray-400</p>
      <p class="text-gray-500 py-3 fw-semibold fw-6">.text-gray-500</p>
      <p class="text-gray-600 py-3 fw-semibold fw-6">.text-gray-600</p>
      <p class="text-gray-700 py-3 fw-semibold fw-6">.text-gray-700</p>
      <p class="text-gray-800 py-3 fw-semibold fw-6">.text-gray-800</p>
      <p class="text-gray-900 py-3 fw-semibold fw-6">.text-gray-900</p>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;text-white&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-secondary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-light&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-success&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-info&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-warning&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-danger&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-dark&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-muted&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-gray-100&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-gray-200&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-gray-300&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-gray-400&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-gray-500&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-gray-600&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-gray-700&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-gray-800&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-gray-900&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="lightColors" data-kt-scroll-offset="100">
    <a href="#lightColors"></a>Light Colors
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Use the <code>.text-light-{color}</code> class to set the light color.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <p class="text-light-primary bg-primary p-3 fw-semibold fw-6">.text-light-primary</p>
      <p class="text-light-secondary bg-secondary p-3 fw-semibold fw-6">.text-light-secondary</p>
      <p class="text-light-success bg-success p-3 fw-semibold fw-6">.text-light-success</p>
      <p class="text-light-info bg-info p-3 fw-semibold fw-6">.text-light-info</p>
      <p class="text-light-warning bg-warning p-3 fw-semibold fw-6">.text-light-warning</p>
      <p class="text-light-danger bg-danger p-3 fw-semibold fw-6">.text-light-danger</p>
      <p class="text-light-dark bg-dark p-3 fw-semibold fw-6">.text-light-dark</p>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;text-light-primary bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-light-secondary bg-secondary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-light-success bg-success&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-light-info bg-info&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-light-warning bg-warning&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-light-danger bg-danger&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-light-dark bg-dark&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="inverseColors" data-kt-scroll-offset="100">
    <a href="#inverseColors"></a>Inverse Colors
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    Use the <code>.text-inverse-{color}</code> class to set the inverse color:
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <div class="demonstration-block">
      <p class="text-inverse-primary bg-primary p-3 fw-semibold fw-6">.text-light-primary</p>
      <p class="text-inverse-secondary bg-secondary p-3 fw-semibold fw-6">.text-light-secondary</p>
      <p class="text-inverse-light bg-light p-3 fw-semibold fw-6">.text-light-light</p>
      <p class="text-inverse-success bg-success p-3 fw-semibold fw-6">.text-light-success</p>
      <p class="text-inverse-info bg-info p-3 fw-semibold fw-6">.text-light-info</p>
      <p class="text-inverse-warning bg-warning p-3 fw-semibold fw-6">.text-light-warning</p>
      <p class="text-inverse-danger bg-danger p-3 fw-semibold fw-6">.text-light-danger</p>
      <p class="text-inverse-dark bg-dark p-3 fw-semibold fw-6">.text-light-dark</p>
    </div>
  </div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="my-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-html">
          <code class="language-html">&lt;div class=&quot;text-inverse-primary bg-primary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-inverse-secondary bg-secondary&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-inverse-light bg-light&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-inverse-success bg-success&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-inverse-info bg-info&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-inverse-warning bg-warning&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-inverse-danger bg-danger&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;text-inverse-dark bg-dark&quot;&gt;&lt;/div&gt;</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->