<!--begin::Notice-->
<div class="notice d-flex align-items-center bg-light-primary rounded min-w-lg-600px flex-shrink-0 p-6">
  <!--begin::Icon-->
  <i class="ki-duotone ki-information-3 fs-2tx text-primary me-4">
    <span class="path1"></span><span class="path2"></span><span class="path3"></span>
  </i>
  <!--end::Icon-->
  <!--begin::Description-->
  <div class="text-gray-700 fw-bold fs-6">
    Server-side processing is required to make this demo work. Click <a href="/server-side-processing">here</a> to learn how to build server-side processing.
  </div>
  <!--end::Description-->
</div>
<!--end::Notice-->