/* Context menu. */
.vakata-context li > a {
  /* Remove text shadows. */
  text-shadow: none;
  color: var(--bs-gray-800);
}

/* The node being selected. */
.jstree-anchor.jstree-clicked,
.jstree-anchor:hover {
  background-color: var(--bs-gray-200);
  color: var(--bs-primary);
}

/* Folder name input field. */
.jstree-rename-input {
  background-color: var(--kt-input-solid-bg) !important;
  border-color: var(--kt-input-solid-bg) !important;
  color: var(--kt-input-solid-color) !important;
}

  .jstree-rename-input:focus,
  .jstree-rename-input:active {
    background-color: var(--bs-gray-200) !important;
    border-color: var(--bs-gray-200) !important;
    color: var(--bs-gray-700) !important;
  }