/*In the latest version of metronic (8.1.7), the CSS variable prefix has been changed from "--kt-" to "--bs-".
    However, this package also supports older CSS variables in case they are used in older versions of metronic (less than 8.1.7).
 */
:root {
  --kt-input-solid-bg: var(--bs-input-solid-bg);
  --kt-input-solid-color: var(--bs-input-solid-color);
  --kt-menu-dropdown-bg-color: var(--bs-menu-dropdown-bg-color);
  --kt-menu-dropdown-box-shadow: var(--bs-menu-dropdown-box-shadow);
  --kt-menu-link-bg-color-active: var(--bs-menu-link-bg-color-active);
  --kt-menu-link-color-active: var(--bs-menu-link-color-active);
}

/* Custom styling of jstree. */
/* Context menu. */
.vakata-context li > a {
  /* Remove text shadows. */
  text-shadow: none;
  color: var(--bs-gray-800);
}

/* The node being selected. */
.jstree-anchor.jstree-clicked,
.jstree-anchor:hover {
  background-color: var(--bs-gray-200);
  color: var(--bs-primary);
}

/* Folder name input field. */
.jstree-rename-input {
  background-color: var(--bs-input-solid-bg) !important;
  border-color: var(--bs-input-solid-bg) !important;
  color: var(--bs-input-solid-color) !important;
}

  .jstree-rename-input:focus,
  .jstree-rename-input:active {
    background-color: var(--bs-gray-200) !important;
    border-color: var(--bs-gray-200) !important;
    color: var(--bs-gray-700) !important;
  }

/* Custom styling of data tables. */
/* Style of the ColVis drop-down menu for the data table. */
div.dt-button-collection {
  border-radius: 0.475rem;
  background-color: var(--bs-menu-dropdown-bg-color);
  box-shadow: var(--bs-menu-dropdown-box-shadow);
}

  div.dt-button-collection .dt-button {
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    color: var(--bs-gray-700);
    font-size: 1.075rem;
  }

  div.dt-button-collection .dt-button.active,
  div.dt-button-collection .dt-button:active {
    background-color: var(--bs-menu-link-bg-color-active);
    color: var(--bs-menu-link-color-active);
  }

    div.dt-button-collection .dt-button::before {
      content: "";
      display: inline-block;
      height: 1.25rem;
      width: 1.25rem;
      margin-right: 0.5rem;
    }

    div.dt-button-collection .dt-button.active::before {
      background-color: var(--bs-menu-link-color-active);
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11' width='13' height='11' fill='none'%3E%3Cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='currentColor'/%3E%3C/svg%3E");
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11' width='13' height='11' fill='none'%3E%3Cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='currentColor'/%3E%3C/svg%3E");
      mask-size: 100%;
      -webkit-mask-size: 100%;
      vertical-align: middle;
    }

/* Custom drop zone styling. */
.dropzone .dz-progress {
  display: none;
}

.dropzone .dz-preview .dz-details {
  /* Details (file name and size) should be centered. */
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .dropzone .dz-preview .dz-details .dz-filename span,
  .dropzone .dz-preview .dz-details .dz-size span {
    background-color: transparent;
    color: var(--bs-gray-800);
  }

  .dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
    /* The selected file name is displayed without abbreviation. */
    overflow: visible;
    text-overflow: clip;
  }

  .dropzone .dz-preview .dz-details .dz-filename:hover span {
    /* The background color is not changed when the file name is hovered. */
    background-color: transparent;
    border: 0;
  }